@mixin avatar-letter($size) {
	@include no-select;

	position: relative;
	top: 1px;
	display: inline-block;
	font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif !important;
	font-style: normal;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

	width: $size;
	height: $size;
	line-height: $size;
	font-size: $size/3 * 2;
	border-radius: $size;
}
