@mixin card {
	@include material-shadow(1);
	background-color: $white;
	border-radius: 2px;
}

@mixin card-content {
	padding: 1em;
}

@mixin card-actions {
	border-top: $material-divider;
	padding: 1em;
}
