@import 'color';

@mixin progress-bar($color, $bg: transparent, $gradient: null) {
	@if $gradient == null {
		$gradient: $color;
	}

	& {
		color: $color;
		background: $bg;

		@content;
	}

	&::-moz-progress-bar      { background: $gradient; }
	&::-webkit-progress-value { background: $gradient; }
	&::-webkit-progress-bar   { background: $bg; }
}

@mixin progress-track($base-color, $bar-weight: '300', $track-weight: '100') {
	@include progress-bar(
		$color: color($base-color, $bar-weight),
		$bg: color($base-color, $track-weight))//,
		// $gradient: repeating-linear-gradient(
			// 'ellipse', 2em 1em at top left, $base-color 1em, $white)
	// );
}
