@require 'no-select'

avatar-letter($size) {
	no-select()

	font-family: $sans-font-stack
	font-weight: 200
	font-style: normal

	text-align: center
	text-transform: uppercase

	position: relative
	top: 1px

	display: inline-block

	margin: 0
	padding: 0
	width: $size
	height: $size
	line-height: $size
	font-size: (($size/3) * 2)

	border-radius: $size
}
