@require 'color'
@require 'contrasting-color'
@require 'material-shadow'
@require 'button'

// Raised Button
button--raised($color = 'white', $dark = false) {
	button()

	$bg-color = get-color($color, '500')
	background-color: $bg-color
	color: contrasting-color($bg-color, $white, $black)

	material-shadow(1)

	&:hover, &:focus {
		background-color: get-color($color, 600)
	}

	&:active {
		material-shadow(2)
		background-color: get-color($color, 700)
	}

	&[disabled] {
		material-shadow(0)

		$accent = $dark ? 'dark' : 'light'

		cursor: default
		background-color: get-color('disabled', 'background--' + $accent)
		color: get-color('disabled', 'foreground--' + $accent)
	}
}
