@require '../variables'
@require 'material-shadow'

card($filter = false) {
	material-shadow(1, $filter)
	background-color: $white
	border-radius: 2px
}

card-content() {
	padding: 1em
}

card-actions() {
	border-top: $material-divider
	padding: 1em
}
