.student-summary {
	text-align: center;
	hyphens: none;
	font-variant-numeric: oldstyle-nums tabular-nums;
	text-shadow: 0 1px rgba(white, 0.5);
	font-size: 0.85em;
	padding: calc(var(--block-edge-padding) * 2);

	&.cannot-graduate .graduation-message {
		color: var(--deep-orange-500);
	}

	&.can-graduate .graduation-message {
		color: var(--light-green-800);
	}

	&.can-graduate {
		background-color: var(--light-green-50);
		&::selection {
			background-color: var(--light-green-900);
		}
	}

	.paragraph {
		margin: 0;
	}

	.paragraph + .paragraph {
		margin-top: calc(var(--block-edge-padding) * 2);
	}

	.student-summary--header {
		color: var(--black);

		margin-bottom: calc(var(--block-edge-padding) * 2);
		font-style: italic;
		line-height: 1.6em;
	}

	.autosize-input {
		border-bottom: 1px solid var(--gray-400);
		padding: 0 0.125em 0 0;

		&:focus {
			outline: 0;
			background-color: var(--blue-50);
			border-color: var(--blue-500);
		}
	}
}

.student-letter {
	display: block;
	margin: var(--block-edge-padding) auto calc(var(--block-edge-padding) * 2);

	border: solid 1px;
	background-color: white;

	&.cannot-graduate {
		color: var(--deep-orange-500);
	}

	&.can-graduate {
		color: var(--light-green-800);
		box-shadow: 0 0 0 5px white, 0 0 0 6px var(--light-green-100);
	}
}
