@import './variables.scss';

@mixin material-shadow() {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

@mixin card() {
	@include material-shadow();
	background-color: white;
	border-radius: $base-border-radius;
}

@mixin card-content() {
	padding: 1em;
}

@mixin card-actions() {
	border-top: $material-divider;
	padding: 1em;
}

@mixin heading-neutral() {
	font-size: inherit;
	font-weight: inherit;
	margin-top: 0;
	margin-bottom: 0;
}

@mixin link-undecorated() {
	text-decoration: none;
	color: inherit;
}

@mixin list-inline() {
	display: inline-block;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

	& > li {
		display: inline-block;
	}
}

@mixin list-unstyled() {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin no-select() {
	user-select: none;
	cursor: default;
}
