@import 'link-undecorated';

@mixin button {
	cursor: pointer;

	display: inline-block;
	min-height: 3ex;

	padding: 1ex 2em;
	border: 0;

	transition: all .2s ease-out;
	border-radius: 2px;
	line-height: normal;

	text-align: center;
	text-transform: uppercase;

	border: none;
	outline: 0;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;

	a {
		@include link-undecorated;
	}
}
