// Raised Button
@mixin button--raised($color: 'white', $dark: false, $filter: false) {
	@include button;
	$bg-color: color($color, '500');
	background-color: $bg-color;
	color: contrasting-color($bg-color, $white, $black);

	@include material-shadow(1, $filter);

	&:hover, &:focus {
		background-color: color($color, 600);
	}

	&:active {
		@include material-shadow(2, $filter);
		background-color: color($color, 700);
	}

	&[disabled] {
		@include material-shadow(0);
		cursor: default;
		$accent: if($dark == true, 'dark', 'light');
		background-color: color('disabled', 'background--#{$accent}');
		color: color('disabled', 'foreground--#{$accent}');
	}
}
