$fira-path: "/bower_components/fira";

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair'),
         url($fira-path + "/woff/FiraSans-Hair.woff") format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair Italic'),
         url($fira-path + "/woff/FiraSans-HairItalic.woff") format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight'),
         url($fira-path + "/woff/FiraSans-UltraLight.woff") format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight Italic'),
         url($fira-path + "/woff/FiraSans-UltraLightItalic.woff") format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'),
         url($fira-path + "/woff/FiraSans-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light Italic'),
         url($fira-path + "/woff/FiraSans-LightItalic.woff") format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url($fira-path + "/woff/FiraSans-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular Italic'),
         url($fira-path + "/woff/FiraSans-Italic.woff") format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium'),
         url($fira-path + "/woff/FiraSans-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium Italic'),
         url($fira-path + "/woff/FiraSans-MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold'),
         url($fira-path + "/woff/FiraSans-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold Italic'),
         url($fira-path + "/woff/FiraSans-SemiBoldItalic.woff") format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'),
         url($fira-path + "/woff/FiraSans-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'),
         url($fira-path + "/woff/FiraSans-BoldItalic.woff") format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold'),
         url($fira-path + "/woff/FiraSans-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold Italic'),
         url($fira-path + "/woff/FiraSans-ExtraBoldItalic.woff") format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy'),
         url($fira-path + "/woff/FiraSans-Heavy.woff") format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy Italic'),
         url($fira-path + "/woff/FiraSans-HeavyItalic.woff") format('woff');
    font-weight: 900;
    font-style: italic;
}
