.graduation-status {
	font-size: 0.85em;
}

.graduation-status .area-type-heading {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	font-feature-settings: 'smcp';

	h1 {
		@include heading-neutral;
		padding: 1em 0 0.35em;
	}
}
