@import '../icons/scss/ionicons-variables';
$ionicons-font-path: './fonts';

@font-face {
	font-family: $ionicons-font-family;
	src: url($ionicons-font-path + "/ionicons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@mixin ion {
	display: inline-block;
	font-family: $ionicons-font-family;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Ionicons Icons
// --------------------------

@mixin ionicon($name) {
	@include ion;
	content: $name;
}

.course-alert::before { @include ionicon($ionicon-var-alert-circled);}
.semester-alert::before { @include ionicon($ionicon-var-alert-circled);}
.course-invalid-semester::before { @include ionicon($ionicon-var-ios7-calendar-outline);}
.course-time-conflict::before { @include ionicon($ionicon-var-ios7-clock-outline);}
