@charset "UTF-8";

@import "mixins/_material-shadow";
@import "mixins/_avatar-letter";

%no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

%list-inline {
	display: inline-block;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	& > li {
		display: inline-block;
	}
}

@mixin sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

@mixin progress-bar($bg, $color, $gradient: null) {
	@if $gradient == null {
		$gradient: $color;
	}
	progress {
		color: $color;
		background: $bg;

		@content;
	}
	progress::-moz-progress-bar      { background: $gradient; }
	progress::-webkit-progress-value { background: $gradient; }
	progress::-webkit-progress-bar   { background: $bg; }
}

@mixin square($size) {
	width: $size;
	height: $size;
}

%button {
	background: transparent;
	border: none;
	cursor: pointer;
	color: $text-color;

	&[disabled] {
		cursor: not-allowed;
		color: rgba($text-color, 0.5);

		&:hover::after {
			color: rgba($text-color, 0.75);
		}
	}
}

%add-button {
	@extend %button;

	&::after {
		@include ionicon($ionicon-var-ios7-plus-empty);
	}
	&:hover::after {
		// @include ionicon($ionicon-var-plus-circled);
	}

	&[disabled] {
		&::after {
			@include ionicon($ionicon-var-checkmark);
		}
		&:hover::after {
			// @include ionicon($ionicon-var-checkmark-circled);
		}
	}
}

%remove-button {
	@extend %button;

	color: $gray;
	opacity: 0.5;
	transition: 0.15s;

	&:hover {
		color: $red;
		opacity: 1;
	}

	&::after {
		@include ionicon($ionicon-var-close);
	}
}

%block-base {
	border-radius: 3px;
	border: 0;
}

%block {
	@extend %block-base;
	transition: border 0.5s ease-in-out;

	background: #fff;
	border: 1px solid;
	border-color: $border-colors;
	border-radius: 3px;
}

%block-small {
	@extend %block;
	margin-bottom: $block-edge-padding * 2;

	p:last-child {
		margin-bottom: 0;
	}
}

%block-flat {
	@extend %block-base;
	border: 1px solid transparent;

	&:hover, &:focus, &:active {
		background: #fff;
		border-color: $border-colors;
		border-radius: 3px;
	}
}

@mixin font-feature-settings($var) {
	-webkit-font-feature-settings: $var;
	-moz-font-feature-settings: $var;
	font-feature-settings: $var;
}
