// from http://codepen.io/Designer023/pen/DkEtw

@function approximateSq($num, $approx) {
	$root: (( $num / $approx ) + $approx) / 2;
	@return $root;
}

@function sqrt($num) {
	$root: 0;
	$testRoot: 0;

	// never need over half the main number. Add one just to be sure!
	$upperBounds: round($num / 2) + 1;
	@for $test from 2 through $upperBounds {
		$sq: $test * $test;
		@if $sq <= $num {
			$testRoot : $test;
		}
	}

	$root : (approximateSq($num, $testRoot));

	@return $root;
}
