#student-summary {
	@include card($filter: true);
	hyphens: auto;
	font-feature-settings: 'onum';

	&.cannot-graduate .graduation-message {
		color: color('deep-orange');
	}
	&.can-graduate .graduation-message {
		color: color('green');
	}

	.content {
		padding: $block-edge-padding * 2;
		p {
			margin: 0;
		}

		p + p {
			margin-top: $block-edge-padding * 2;
		}
	}

	header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;

		color: $black;

		p {
			margin: 0;
			font-style: italic;
			align-items: inherit;
			flex: 1;
			margin-right: $block-edge-padding * 2;
			display: flex;
		}

		input {
			flex: 1;
			border: 0;
			border-bottom: solid 1px color('gray', '400');
			border-top: solid 1px $white;
			margin-left: $block-edge-padding;
		}
	}
}

#student-letter {
	@include avatar-letter(48px);
	border: solid 1px;
	background-color: white;

	margin: $block-edge-padding $block-edge-padding*2;
	margin-left: -6px;

	.cannot-graduate & {
		color: color('deep-orange');
	}

	.can-graduate & {
		color: color('green');
	}
}
