@import "clrs";

// colors
$background-start-color: #e8e8e8;
$background-end-color: #e3e3e3;
$olaf-gold: #c3931e;

$olaf-gradient-start: #e49f31;
$olaf-gradient-end:   #c88926;

$golden-black: #3C362A;
$near-black: #2C281F;

$text-color: $near-black;

$border-top-color: #e5e6e9;
$border-side-color: #dfe0e4;
$border-bottom-color: #d0d1d5;
$border-colors: $border-top-color $border-side-color $border-bottom-color;

// fonts
$sans-font-stack: 'Fira Sans', 'Helvetica', 'Verdana', sans-serif;
$body-font-stack: $sans-font-stack;
$heading-font-stack: 'Fira Sans';

// spacing
$page-edge-padding: 15px;
$block-edge-padding: 5px;

// z-indices
$z-sidebar: 3;
$z-floating-button: 2;
