@import '../icons/ionicons-variables'

@font-face {
	font-family: $ionicons-font-family
	src: url('./fonts/ionicons.woff') format('woff')
	font-weight: normal
	font-style: normal
}

ion() {
	display: inline-block
	font-family: $ionicons-font-family
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	text-rendering: auto
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
}

// Ionicons Icons
// --------------------------

ionicon($name) {
	ion()
	content: $name
}

.course-invalid-year::before {
	ionicon($ionicon-alert-circled)
}

.course-invalid-semester::before {
	ionicon($ionicon-ios-calendar-outline)
}

.course-time-conflict::before {
	ionicon($ionicon-ios-clock-outline)
}
