@import './variables.scss';

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-family: $sans-font-stack;
	color: $text-color;

	box-sizing: border-box;

	background: $background;
	min-height: 100vh;

	line-height: 1.4;

	font-feature-settings: 'liga', 'calt', 'kern';
	hyphens: auto;
}

body {
	height: 100%;
}


menu {
	padding: 0;
	margin: 0;
}

.content {
	padding-top: $page-edge-padding;
	padding-bottom: 15vh;
	overflow-y: scroll;
}
