@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans UltraLight),
         url(./fonts/FiraSans-UltraLight.woff2) format(woff2),
         url(./fonts/FiraSans-UltraLight.woff) format(woff);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans UltraLight Italic),
         url(./fonts/FiraSans-UltraLightItalic.woff2) format(woff2),
         url(./fonts/FiraSans-UltraLightItalic.woff) format(woff);
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans Light),
         url(./fonts/FiraSans-Light.woff2) format(woff2),
         url(./fonts/FiraSans-Light.woff) format(woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans Light Italic),
         url(./fonts/FiraSans-LightItalic.woff2) format(woff2),
         url(./fonts/FiraSans-LightItalic.woff) format(woff);
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans Regular),
         url(./fonts/FiraSans-Regular.woff2) format(woff2),
         url(./fonts/FiraSans-Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans Regular Italic),
         url(./fonts/FiraSans-RegularItalic.woff2) format(woff2),
         url(./fonts/FiraSans-RegularItalic.woff) format(woff);
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans Medium),
         url(./fonts/FiraSans-Medium.woff2) format(woff2),
         url(./fonts/FiraSans-Medium.woff) format(woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans Medium Italic),
         url(./fonts/FiraSans-MediumItalic.woff2) format(woff2),
         url(./fonts/FiraSans-MediumItalic.woff) format(woff);
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans SemiBold),
         url(./fonts/FiraSans-SemiBold.woff2) format(woff2),
         url(./fonts/FiraSans-SemiBold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local(Fira Sans SemiBold Italic),
         url(./fonts/FiraSans-SemiBoldItalic.woff2) format(woff2),
         url(./fonts/FiraSans-SemiBoldItalic.woff) format(woff);
    font-weight: 600;
    font-style: italic;
}
