.expression.expression--course {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
}

.expression .course {
	display: flex;
	cursor: inherit;

	font-size: 0.9em;

	div {
		display: inline-block;
	}

	.basic-identifiers,
	.temporal {
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
	}

	.temporal {
		margin-left: 0.45em;
	}

	.basic-identifiers,
	.temporal {
		& > :nth-child(1) {
			font-size: 0.7em;
		}
		& > :nth-child(2) {
			font-weight: 500;
		}
	}

	&.matched {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			z-index: 1;
			content: '';

			background-image: radial-gradient(
				circle at center center,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.5) 17%,
				white 20%,
				white 44%,
				rgba(0, 0, 0, 0.5) 46%
			);
		}
	}
}
