.graduation-status {
	-webkit-flex-basis: 300px;
	flex-basis: 300px;

	margin-right: $page-edge-padding;

	font-size: 14px;
}

.graduation-status .area-of-study {
	@extend %block-small;
}

.graduation-status .area-type-heading {
	font-size: 1em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

