#student-summary {
	@extend %block-small;
}

#student-summary {
	-webkit-hyphens: auto;
	hyphens: auto;
}

#student-letter {
	@include avatar-letter(48px);
	float: left;
	margin-right: $block-edge-padding;
}
