@import '../../../styles/variables.scss';

.sidebar {
	flex: 1;

	@media all and (min-width: 35em) {
		max-width: 280px;
		padding-left: $page-edge-padding;
		padding-right: ($page-edge-padding * (2/3));
	}
}

.student-buttons {
	margin-bottom: 0.5em;
}

.is-hidden {
	display: none;
}
