@import '../base/variables';

.sidebar {
	@media all and (min-width: $single-column-width) {
		width: 280px;
		padding-left: $page-edge-padding;
		padding-right: $page-edge-padding * (2/3);
	}
}

.student-buttons {
	margin-bottom: 0.5em;
}

.is-hidden {
	display: none;
}
