@import '../base/variables';
@import '../mixins/link-undecorated';

.sidebar {
	width: 100%;

	@media all and (min-width: $single-column-width) {
		position: fixed;
		overflow-y: scroll;

		top: 0;
		padding-top: $page-edge-padding;

		height: 100vh;
		width: $sidebar-width;
		padding-bottom: 25vh;
	}

	.toolbar a {
		@include link-undecorated;
	}
}

.student-buttons {
	margin-bottom: 0.5em;
}

.is-hidden {
	display: none;
}
