@import 'src/styles/variables.css';

.sidebar {
	flex: 1;

	@media all and (min-width: 35em) {
		max-width: 280px;
		padding-left: var(--page-edge-padding);
		padding-right: calc(var(--page-edge-padding) * (2/3));
	}
}

.student-buttons {
	margin-bottom: 0.5em;
}

.is-hidden {
	display: none;
}
