{
	"presets": [
		"react",
		"flow",
		["env", {
			"modules": false,
			"targets": {
				"ie": 12,
				"browsers": [
					"last 2 versions",
					"Firefox ESR"
				]
			}
		}]
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-react-display-name",
		"babel-plugin-styled-components",
		["transform-runtime", {"polyfill": false}]
		// turns `import {sum} from 'lodash'`
		// into `import sum from 'lodash/sum'`
		// "lodash",
	],
	"env": {
		"test": {
			"presets": [
				["env", {
					"targets": {"node": true},
					"modules": "commonjs"
				}]
			]
		}
	}
}
