{
	"presets": [
		// JSX, Flow
		"react",
		// Latest stable ECMAScript features
		["env", {"targets": {
			"browsers": "last 2 versions, Android > 7, Explorer > 12, Firefox ESR, Safari 10, iOS 10.1, ExplorerMobile > 12",
		}, "modules": false}],
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-react-display-name",
		["transform-runtime", {"polyfill": false}],
		// turns `import {sum} from 'lodash'`
		// into `import sum from 'lodash/sum'`
		// "lodash",
	],
	"env": {
		"production": {
			// "presets": ["babili"],
			"plugins": [
				"transform-react-constant-elements",
				"transform-react-inline-elements",
				"transform-inline-environment-variables",
			],
		},
		"test": {
			"presets": [["env", {"targets": {"node": true}, "modules": "commonjs"}]],
		},
	},
}
