{
	"presets": [
		// JSX, Flow
		"react",
		// Latest stable ECMAScript features
		["latest", {"es2015": {"modules": false}}],
	],
	"plugins": [
		// class { handleClick = () => { } }
		"transform-class-properties",
		// { ...todo, completed: true }
		"transform-object-rest-spread",
		// embeds the react tag name into the component
		"transform-react-display-name",
		// enable <style jsx> tags
		"styled-jsx/babel",
		// these two together prevent us from defining the helpers in every module
		"external-helpers",
		["transform-runtime", {
			"polyfill": false, // defaults to true
		}],
		// turns `import {sum} from 'lodash'`
		// into `import sum from 'lodash/sum'`
		// "lodash",
		["module-resolver", {
			"alias": {
				"modules": "./modules",
			},
		}],
	],
	"env": {
		"production": {
			// "presets": ["babili"],
			"plugins": [
				"transform-react-constant-elements",
				"transform-react-inline-elements",
				"transform-inline-environment-variables",
			],
		},
		"test": {
			"presets": [["latest", {"es2015": {"modules": "commonjs"}}]],
			"plugins": [
				"transform-class-properties",
				"transform-object-rest-spread",
				["module-resolver", {
					"alias": {
						"modules": "./modules",
					},
				}],
			],
		},
	},
}
