---
ecmaFeatures:
  arrowFunctions: true  # enable arrow functions
  binaryLiterals: true  # enable binary literals
  blockBindings: true  # enable let and const (aka block bindings)
  defaultParams: true  # enable default function parameters
  forOf: true  # enable for-of loops
  generators: true  # enable generators
  objectLiteralComputedProperties: true  # enable computed object literal property names
  objectLiteralDuplicateProperties: true  # enable duplicate object literal properties in strict mode
  objectLiteralShorthandMethods: true  # enable object literal shorthand methods
  objectLiteralShorthandProperties: true  # enable object literal shorthand properties
  octalLiterals: true  # enable octal literals
  regexUFlag: true  # enable the regular expression u flag
  regexYFlag: true  # enable the regular expression y flag
  superInFunctions: true  # enable super references inside of functions
  templateStrings: true  # enable template strings
  unicodeCodePointEscapes: true  # enable code point escapes
  globalReturn: true  # allow return statements in the global scope
  jsx: true  # enable JSX
  module: true

parser: esprima-fb

env:
  browser: true

plugins:
  - eslint-plugin-react

rules:
  guard-for-in: 2
  default-case: 2
  no-div-regex: 2
  no-eq-null: 2
  wrap-iife: 2
  no-undef-init: 0

  # es6
  no-var: 2
  generator-star:
    - 2
    - start

  # stylistic issues - we're turning off all of these, to let JSCS handle them
  camelcase: 0
  comma-style: 0
  key-spacing: 0
  quotes: 0
  semi:
    - 2
    - never

  # react rules
  react/no-multi-comp: 1  # prevent multiple component definition per file
  react/prop-types: 1  # prevent missing proptypes in a react component definition
  react/wrap-multilines: 1  # prevent missing parentheses around multilines jsx
  react/self-closing-comp: 1  # prevent extra closing tags for components without children
