[submodule "public/data/courses"]
	path = public/data/courses
	url = git@github.com:hawkrives/gobbldygook-data.git
[submodule "public/data/areas"]
	path = public/data/areas
	url = git@bitbucket.org:hawkrives/gobbldygook-administration-data.git
