# Files to ignore
*.log
.nyc_output/
.DS_Store
.idea/
*.sublime-workspace
playground/data
playground/parse-sis.js
area-data/area-data
stats.json
.eslintcache
.vscode/

# Temp folders
.sass-cache
.tmp
~

# Node stuff
node_modules

# The build artifacts
build
coverage
