# Files to ignore
*.log
.DS_Store
.idea
*.sublime-workspace

# Temp folders
.sass-cache
.tmp

# Node stuff
node_modules

# The build results
dist

# Symlinks that should never actually be created, but are (were?)
data/data
app/styles/fonts/fonts
app/styles/ionicons/fonts/fonts
testing
