# Files to ignore
*.log
.DS_Store
.idea/
*.sublime-workspace
stats.json
.vscode/
.eslintcache
/D_*

# Temp folders
.sass-cache
.tmp
~

# Node stuff
node_modules/

# Playwright output
test-results/
playwright-report/
blob-report/

# The build artifacts
build*/
coverage/
flow-coverage*/
