[submodule "public/data/courses"]
	path = public/data/courses
	url = https://github.com/hawkrives/gobbldygook-data.git
[submodule "public/data/areas"]
	path = public/data/areas
	url = https://github.com/hawkrives/gobbldygook-administration-data.git
