# Opt-in to Travis infrastructure
sudo: false
dist: trusty
language: node_js
node_js: 7

branches:
  only:
    - master
    # travis testing branches
    - /^travis/
    # version tags (from https://github.com/sindresorhus/semver-regex)
    - /^v?(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)(?:-[\da-z\-]+(?:\.[\da-z\-]+)*)?(?:\+[\da-z\-]+(?:\.[\da-z\-]+)*)?$/

cache:
  yarn: true
  directories:
    - node_modules

script:
  - yarn run lint
  - yarn run flow
  - yarn run test -- --coverage --runInBand
  - yarn run build-ci

after_success:
  - npm install coveralls codecov
  - ./node_modules/.bin/coveralls < ./coverage/lcov.info
  - ./node_modules/.bin/codecov -f ./coverage/lcov.info

before_deploy:
  - node scripts/prepare-for-deploy.js

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master

after_deploy:
  - curl -d "apiKey=7e393deddaeb885f5b140b4320ecef6b" -d "repository=https://github.com/hawkrives/gobbldygook" -d "revision=$(git rev-parse --verify HEAD)" 'https://notify.bugsnag.com/deploy'

# Send travis notifications to Slack
notifications:
  slack:
    secure: iNz4CfNIkTXwl7G71nTgLMXUKKYMqQJkvQKuBck33Eg+tFy/w6O3bMEyGLdfJZKHO0Q3fE/Wbw+SIp77TBG4i/YQ87/cQWnFv21temZoBnkYPk5IiusUR/5AJPCpFJSnDlB92XDGz06ilL1oFW6R3yGjn5lUqUDy2a+Pj0TUp1w=
