# NOTE: This file must use spaces. Travis won't read it otherwise.

# Opt-in to Travis infrastructure
sudo: false
dist: trusty
language: node_js
node_js: 7

matrix:
  include:
    - env: {task: lint}
    - env: {task: flow}
    - env: {task: test, args: --coverage --runInBand}
    - env: {task: build-ci}

branches:
  only:
    - master
    - stable
    # travis testing branches
    - /^travis/
    # version tags (from https://github.com/sindresorhus/semver-regex)
    - /^v?(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)(?:-[\da-z\-]+(?:\.[\da-z\-]+)*)?(?:\+[\da-z\-]+(?:\.[\da-z\-]+)*)?$/

script: yarn run $task -- $args

after_success:
  - npm install coveralls codecov
  - ./node_modules/.bin/coveralls < ./coverage/lcov.info
  - ./node_modules/.bin/codecov -f ./coverage/lcov.info

before_deploy:
  - rm -rf bin/ config/ flow-typed/ modules/ playground/ screenshots/ scripts/
  - find ./ -type f -depth 1 -not -name '.git*' -not -name package.json -delete
  - mv build/* ./
  - rm -f build/.DS_Store
  - rmdir build/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
    tags: true

after_deploy:
  - curl -d "apiKey=7e393deddaeb885f5b140b4320ecef6b" -d "repository=https://github.com/hawkrives/gobbldygook" -d "revision=$(git rev-parse --verify HEAD)" 'https://notify.bugsnag.com/deploy'

# Send travis notifications to Slack
notifications:
  slack:
    secure: iNz4CfNIkTXwl7G71nTgLMXUKKYMqQJkvQKuBck33Eg+tFy/w6O3bMEyGLdfJZKHO0Q3fE/Wbw+SIp77TBG4i/YQ87/cQWnFv21temZoBnkYPk5IiusUR/5AJPCpFJSnDlB92XDGz06ilL1oFW6R3yGjn5lUqUDy2a+Pj0TUp1w=
