# Opt-in to Travis infrastructure
sudo: false
dist: trusty
language: node_js
node_js: 7

env:
  - {task: lint}
  - {task: test}
  - {task: build}

branches:
  only:
    - master
    # travis testing branches
    - /^travis/
    # version tags (from https://github.com/sindresorhus/semver-regex)
    - /^v?(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)(?:-[\da-z\-]+(?:\.[\da-z\-]+)*)?(?:\+[\da-z\-]+(?:\.[\da-z\-]+)*)?$/

cache:
  yarn: true
  directories:
    - node_modules

script:
  - bash scripts/update-yarn-lock-file.sh
  - if [[ "$task" == "lint" ]]; then
      yarn run lint;
    fi
  - if [[ "$task" == "test" ]]; then
      yarn run flow;
      yarn run test -- --coverage --runInBand;
    fi
  - if [[ "$task" == "build" ]]; then
      yarn run build-ci;
    fi

after_success:
  - npm install coveralls
  - ./node_modules/.bin/coveralls < ./coverage/lcov.info
  - bash <(curl -s https://codecov.io/bash) -f coverage/coverage.json

before_deploy:
  - node scripts/prepare-for-deploy.js

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    # only deploy on master, from the "build" job
    branch: master
    condition: $task = "build"

after_deploy:
  - curl -d "apiKey=7e393deddaeb885f5b140b4320ecef6b" -d "repository=https://github.com/hawkrives/gobbldygook" -d "revision=$(git rev-parse --verify HEAD)" 'https://notify.bugsnag.com/deploy'

# Send travis notifications to Slack
notifications:
  slack:
    secure: iNz4CfNIkTXwl7G71nTgLMXUKKYMqQJkvQKuBck33Eg+tFy/w6O3bMEyGLdfJZKHO0Q3fE/Wbw+SIp77TBG4i/YQ87/cQWnFv21temZoBnkYPk5IiusUR/5AJPCpFJSnDlB92XDGz06ilL1oFW6R3yGjn5lUqUDy2a+Pj0TUp1w=
