branches:
  only:
    - master

sudo: false
dist: trusty
language: node_js
node_js: 8

stages:
  - name: Greenkeeper
    if: branch =~ ^greenkeeper\/

jobs:
  include:
    # Run greenkeeper stuff
    - stage: Greenkeeper
      env: [EXEC=greenkeeper]
      install: npm install -g greenkeeper-lockfile@1
      script: greenkeeper-lockfile-update
      after_script: greenkeeper-lockfile-upload
