# NOTE: This file must use spaces. Travis won't read it otherwise.

# Opt-in to the new Travis infrastructure
sudo: false

# Cache node_modules
cache:
  directories:
    - ~/.yarn-cache

# Send travis notifications to Slack
notifications:
  slack:
    secure: iNz4CfNIkTXwl7G71nTgLMXUKKYMqQJkvQKuBck33Eg+tFy/w6O3bMEyGLdfJZKHO0Q3fE/Wbw+SIp77TBG4i/YQ87/cQWnFv21temZoBnkYPk5IiusUR/5AJPCpFJSnDlB92XDGz06ilL1oFW6R3yGjn5lUqUDy2a+Pj0TUp1w=

language: node_js

deploy:
  provider: script
  skip_cleanup: true
  script: bash -v scripts/deploy-ci.sh
  on:
    branch: master
    tags: true

branches:
  only:
    # self-explanatory?
    - master
    - stable
    # travis testing branches
    - /^travis/
    # version tags (from https://github.com/sindresorhus/semver-regex)
    - /^v?(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)(?:-[\da-z\-]+(?:\.[\da-z\-]+)*)?(?:\+[\da-z\-]+(?:\.[\da-z\-]+)*)?$/

node_js:
  - 6

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - npm install coveralls codecov

script:
  - npm run lint
  - npm run run-coverage
  - npm run build-ci

after_success:
  - nyc report --reporter=text-lcov | coveralls
  - nyc report --reporter=lcov > coverage.lcov && codecov
