# Opt-in to Travis infrastructure
sudo: false
dist: trusty
language: node_js
node_js: 7

env:
  - {task: lint}
  - {task: test}
  - {task: build}

branches:
  only:
    - master
    # travis testing branches
    - /^travis/
    # version tags (from https://github.com/sindresorhus/semver-regex)
    - /^v?(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)(?:-[\da-z\-]+(?:\.[\da-z\-]+)*)?(?:\+[\da-z\-]+(?:\.[\da-z\-]+)*)?$/

cache:
  directories: 
    - $HOME/.npm

install:
  - npm i -g npm5
  - npm5 install

script:
  - if [[ "$task" == "lint" ]]; then
      npm5 run lint;
    fi
  - if [[ "$task" == "test" ]]; then
      npm5 run flow;
      npm5 run test -- --coverage --runInBand;
    fi
  - if [[ "$task" == "build" ]]; then
      npm5 run build;
    fi

after_success:
  - |
    if [[ "$task" == "test" ]]; then
      npm5 install coveralls
      ./node_modules/.bin/coveralls < ./coverage/lcov.info
      bash <(curl -s https://codecov.io/bash) -f coverage/coverage.json
    fi

before_deploy:
  - node scripts/prepare-for-deploy.js

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    # only deploy on master, from the "build" job
    branch: master
    condition: $task = "build"

after_deploy:
  - curl https://notify.bugsnag.com/deploy
      -d apiKey=7e393deddaeb885f5b140b4320ecef6b
      -d repository=https://github.com/hawkrives/gobbldygook
      -d "revision=$(git rev-parse --verify HEAD)" 
