[build]
    command = "npm run netlify"
    # the directory to publish (relative to root of your repo)
    publish = "build/"
    [build.environment]
        NODE_VERSION = "8"
        YARN_VERSION = "1.5.1"
        YARN_FLAGS = "--production=false"

# Production context: All deploys to the main
# repository branch will inherit these settings.
[context.production]
    command = "npm run netlify"
    [context.production.environment]
        NODE_ENV = "production"

# respond to all requests with the SPA
[[redirects]]
    from = "/s/*"
    to = "/index.html"
    status = 200

[[redirects]]
    from = "/create/*"
    to = "/index.html"
    status = 200

[[redirects]]
    from = "/search/*"
    to = "/index.html"
    status = 200

# allow requesting data from SIS
[[redirects]]
    from = "/sis/*"
    to = "https://www.stolaf.edu/sis/:splat"
    status = 200
    force = true
    [[redirects.headers]]
        X-From = "Gobbldygook"

# set headers for the app
[[headers]]
    for = "/*"
    [[headers.values]]
        X-Frame-Options = "DENY"
        X-XSS-Protection = "1; mode=block"
