@import "mixins/_material-shadow";
@import "mixins/_avatar-letter";

%no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

%button {
	background: transparent;
	border: none;
	cursor: pointer;
	color: $text-color;

	&[disabled] {
		cursor: not-allowed;
		color: rgba($text-color, 0.5);

		&:hover::after {
			color: rgba($text-color, 0.75);
		}
	}
}

%add-button {
	@extend %button;

	&:hover::after {
		@include ionicon($ionicon-var-plus-circled);
	}

	&::after {
		@include ionicon($ionicon-var-plus);
	}

	&[disabled] {
		&:hover::after {
			@include ionicon($ionicon-var-checkmark-circled);
		}
		&::after {
			@include ionicon($ionicon-var-checkmark);
		}
	}
}

%remove-button {
	@extend %button;

	background-color: white;
	color: $red;

	&:hover {
		background-color: $red;
		color: white;
	}

	&::after {
		@include ionicon($ionicon-var-close);
	}
}

%block-base {
	border-radius: 3px;
	border: 0;
}

%block {
	@extend %block-base;
	background-color: white;
	transition: border 0.5s ease-in-out;

	border: solid 1px $background-start-color;
	border-bottom-color: rgba(60, 54, 42, 0.25);
	&:hover {
		border-color: rgba(60, 54, 42, 0.5);
	}
}

%block-small {
	@extend %block;
	margin-bottom: $block-edge-padding * 2;

	p:last-child {
		margin-bottom: 0;
	}
}

%block-flat {
	@extend %block-base;

	@include material-shadow(0);
	&:hover, &:focus {
		@include material-shadow(2);
		background-color: white;
	}
	&:active {
		@include material-shadow(1);
		background-color: white;
	}
}

@mixin font-feature-settings($var) {
	-webkit-font-feature-settings: $var;
	-moz-font-feature-settings: $var;
	font-feature-settings: $var;
}
