@import "mixins/_material-shadow";
@import "mixins/_avatar-letter";

%no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

%add-button {
	background: transparent;
	border: none;
	cursor: pointer;
	color: $text-color;

	&[disabled] {
		cursor: not-allowed;
	}
}

%block-base {
	border-radius: 3px;
	border: 0;
}

%block {
	@extend %block-base;
	background-color: white;
	@include material-shadow(1);
	&:hover { @include material-shadow(2); }
}

%block-small {
	@extend %block;
	margin-bottom: $block-edge-padding * 2;

	p:last-child {
		margin-bottom: 0;
	}
}

%block-flat {
	@extend %block-base;

	@include material-shadow(0);
	&:hover, &:focus {
		@include material-shadow(2);
		background-color: white;
	}
	&:active {
		@include material-shadow(1);
		background-color: white;
	}
}

@mixin font-feature-settings($var) {
	-webkit-font-feature-settings: $var;
	-moz-font-feature-settings: $var;
	font-feature-settings: $var;
}

@mixin arrow-up($size, $color: black) {
	width: 0; 
	height: 0; 
	border-left: $size * 0.7 solid transparent;
	border-right: $size * 0.7 solid transparent;
	border-top-width: 0;

	border-bottom: $size solid $color;
}

@mixin arrow-down($size, $color: black) {
	width: 0; 
	height: 0; 
	border-left: $size * 0.7 solid transparent;
	border-right: $size * 0.7 solid transparent;
	border-bottom-width: 0;
	
	border-top: $size solid $color;
}
