@import '../base/variables';
@import '../mixins/card';
@import '../mixins/color';
@import '../mixins/heading-neutral';
@import '../mixins/link-undecorated';
@import '../mixins/list-inline';

$semester-edge-padding:
	($block-edge-padding)
	($block-edge-padding * 1.5);

.semester-list {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
}

.semester {
	@include card;
	flex: auto;
	width: 16em;
	margin: $semester-spacing;
}

.semester-header {
	flex: 1;
}

.semester.can-drop {
	cursor: copy;
	box-shadow: 0 0 4px color('gray', '500');
	z-index: 10;
}

.semester-title {
	padding: $semester-edge-padding;
	border-bottom: $material-divider;

	font-size: 0.85em;
	a { @include link-undecorated; }

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	font-feature-settings: 'smcp';
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;

	h1 {
		@include heading-neutral;
		display: inline-block;
	}

	.buttons {
		display: flex;
		align-items: stretch;
	}

	.button {
		padding: 0 0.4em;
		min-height: 0;
		font-size: 0.9em;

		color: color('gray', '500');
		transition: 0.15s;

		& + .button {
			margin-left: 0.1em;
		}
	}

	.remove-semester:hover {
		color: color('red', '500');
		border-color: color('red', '500');
		background-color: color('red', '50');
	}
}

.semester .info-bar {
	color: color('gray', '500');

	li {
		font-feature-settings: 'onum';
		padding-left: 0.25em;
	}
}
