@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$inner-padding: 20px;
$outer-margin: 40px;

.new-student {
	@include card();

	margin: $outer-margin auto;

	max-width: 40em;
	width: 100%;

	padding: $inner-padding;

	.introduction {
		text-align: center;
		width: 75%;
		margin: 0 auto;
	}
}

.new-student .header {
	text-align: center;

	h1 {
		font-weight: 400;
	}
	h2 {
		font-weight: 300;
	}
}

.new-student .choices {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	button {
		margin-bottom: 1em;
	}
}
