// colors
$background-start-color: #e8e8e8;
$background-end-color: #e3e3e3;
$olaf-gold: #c3931e;

// fonts
$sans-font-stack: 'Fira Sans', 'Open Sans', 'Helvetica', 'Verdana', sans-serif;

// spacing
$page-edge-padding: 15px;
$block-edge-padding: 5px;
