@charset "UTF-8";
@font-face {
  font-family: "Ionicons";
  src: url("/libraries/ionicons/fonts/ionicons.eot?v=1.5.2");
  src: url("/libraries/ionicons/fonts/ionicons.eot?v=1.5.2#iefix") format("embedded-opentype"), url("/libraries/ionicons/fonts/ionicons.ttf?v=1.5.2") format("truetype"), url("/libraries/ionicons/fonts/ionicons.woff?v=1.5.2") format("woff"), url("/libraries/ionicons/fonts/ionicons.svg?v=1.5.2#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.ion, .add-year::after, .add-area-of-study::after, .add-semester::after, [disabled].add-year::after, [disabled].add-area-of-study::after, [disabled].add-semester::after, .remove-year::after, .remove-semester::after, .area-of-study > details summary::after, .area-of-study > details[open] summary::after {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.course-table .year-title, #student-letter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default; }

.bar {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }
  .bar > li {
    display: inline-block; }

.add-year, .add-area-of-study, .add-semester, .remove-year, .remove-semester {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2c281f; }
  [disabled].add-year, [disabled].add-area-of-study, [disabled].add-semester, [disabled].remove-year, [disabled].remove-semester {
    cursor: not-allowed;
    color: rgba(44, 40, 31, 0.5); }
    [disabled].add-year:hover::after, [disabled].add-area-of-study:hover::after, [disabled].add-semester:hover::after, [disabled].remove-year:hover::after, [disabled].remove-semester:hover::after {
      color: rgba(44, 40, 31, 0.75); }

.add-year::after, .add-area-of-study::after, .add-semester::after {
  content: "\f1c9"; }
[disabled].add-year::after, [disabled].add-area-of-study::after, [disabled].add-semester::after {
  content: "\f122"; }

.remove-year, .remove-semester {
  background-color: white;
  color: #ff4136; }
  .remove-year:hover, .remove-semester:hover {
    background-color: #ff4136;
    color: white; }
  .remove-year::after, .remove-semester::after {
    content: "\f12a"; }

.area-of-study, #student-summary, .add-year, .semester, .add-area-of-study {
  border-radius: 3px;
  border: 0; }

.area-of-study, #student-summary, .add-year, .semester {
  background-color: white;
  transition: border 0.5s ease-in-out;
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px; }

.area-of-study, #student-summary {
  margin-bottom: 10px; }
  .area-of-study p:last-child, #student-summary p:last-child {
    margin-bottom: 0; }

.add-area-of-study {
  border: 1px solid transparent; }
  .add-area-of-study:hover, .add-area-of-study:focus, .add-area-of-study:active {
    background: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
  color: #2c281f;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #e3e3e3);
  background-image: linear-gradient(to bottom, #e8e8e8, #e3e3e3);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 15px; }

.area-of-study h1 {
  padding: 5px;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  z-index: 1;
  position: relative; }
.area-of-study summary {
  position: relative; }
.area-of-study progress {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  vertical-align: middle;
  border: 0;
  color: #c3931e;
  background: transparent;
  border-radius: 3px;
  overflow: hidden; }
.area-of-study progress::-moz-progress-bar {
  background: linear-gradient(to bottom, #e49f31, #c88926); }
.area-of-study progress::-webkit-progress-value {
  background: linear-gradient(to bottom, #e49f31, #c88926); }
.area-of-study progress::-webkit-progress-bar {
  background: transparent; }
.area-of-study summary::-webkit-details-marker {
  display: none; }
.area-of-study summary::-moz-details-marker {
  display: none; }
.area-of-study summary::-ms-details-marker {
  display: none; }
.area-of-study summary::details-marker {
  display: none; }
.area-of-study > details summary::after {
  content: "\f1c9";
  position: absolute;
  top: 25%;
  right: 8px; }
.area-of-study > details[open] progress {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.5; }
.area-of-study > details[open] summary::after {
  content: "\f1ac"; }

.course {
  margin-bottom: 0.35em; }
  .course .title, .course .details {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .course .title {
    margin: 0 0 -0.25ex;
    line-height: 1;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
    font-family: "Fira Sans"; }
  .course .details {
    display: block;
    font-size: 0.9em; }
  .course .identifier::after {
    content: " · "; }

.course-table {
  -webkit-flex: 1;
  flex: 1; }

.add-year {
  width: 100%;
  font-size: 1.25em; }

.remove-year {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 28px; }

.course-table .year {
  margin-bottom: 15px;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  display: flex;
  flex-flow: row nowrap; }

.course-table .semester-list {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap; }

.course-table .year-title h1, .course-table .year-title h2, .course-table .semester-title h1, .course-table .semester-title h2 {
  font-size: inherit;
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0; }

.course-table .year-title {
  width: 2em;
  padding: 0.5em 0.75em;
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  line-height: 1em;
  font-weight: 200;
  font-size: 0.9em;
  position: relative; }
  .course-table .year-title h1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    white-space: nowrap; }
  .course-table .year-title:hover .remove-year {
    display: block; }

.graduation-status {
  -webkit-flex-basis: 300px;
  flex-basis: 300px;
  margin-right: 15px;
  font-size: 14px; }

.graduation-status .area-type-heading {
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0; }
  .graduation-status .area-type-heading h1, .graduation-status .area-type-heading h2, .graduation-status .area-type-heading h3, .graduation-status .area-type-heading h4, .graduation-status .area-type-heading h5, .graduation-status .area-type-heading h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    display: inline-block;
    padding: 5px 0 3px; }

.add-area-of-study {
  cursor: pointer;
  position: relative;
  top: -1px; }

.semester {
  -webkit-flex: 1 1 15em;
  flex: 1 1 15em;
  margin: 0 2px;
  padding: 2.5px 5px;
  -webkit-transition: 0.75s all;
  -ms-transition: 0.75s all;
  transition: 0.75s all; }
  .semester:hover .remove-semester {
    display: inline-block; }

.semester-title {
  margin-bottom: 0.5em;
  font-size: 0.85em; }
  .semester-title h1 {
    display: inline-block; }
  .semester-title > * {
    vertical-align: top; }

.bar li {
  -webkit-font-feature-settings: "onum";
  -moz-font-feature-settings: "onum";
  font-feature-settings: "onum";
  border-radius: 3px;
  color: #aaaaaa;
  padding-left: 0.25em;
  padding-right: 0.25em; }
  .bar li::before {
    content: " – "; }

.add-semester {
  width: 32px;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0; }

.remove-semester {
  display: none;
  border-radius: 50px;
  margin: 0;
  float: right; }

.course-list {
  min-height: 30px; }

#student-summary {
  padding: 5px 10px 10px; }

#student-summary {
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-font-feature-settings: "onum";
  -moz-font-feature-settings: "onum";
  font-feature-settings: "onum"; }
  #student-summary p {
    margin: 5px 0; }
  #student-summary.cannot-graduate .graduation-message {
    color: #ff851b; }
  #student-summary.can-graduate .graduation-message {
    color: #2ecc40; }

#student-letter {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  color: #c3931e;
  float: left;
  margin-right: 5px; }
  .cannot-graduate #student-letter {
    color: #ff851b; }
  .can-graduate #student-letter {
    color: #2ecc40; }

.student {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
