.course-table .year-title, #student-letter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default; }

.add-year, .add-area-of-study, .add-semester {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2c281f; }
  [disabled].add-year, [disabled].add-area-of-study, [disabled].add-semester {
    cursor: not-allowed; }

.area-of-study, #student-summary, .add-year, .course-table .year, .add-area-of-study {
  border-radius: 3px;
  border: 0; }

.area-of-study, #student-summary, .add-year, .course-table .year {
  background-color: white;
  -webkit-transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 1px 1.5px rgba(60, 54, 42, 0.12); }
  .area-of-study:hover, #student-summary:hover, .add-year:hover, .course-table .year:hover {
    -webkit-transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 3px 3px rgba(60, 54, 42, 0.16); }

.area-of-study, #student-summary {
  margin-bottom: 10px; }
  .area-of-study p:last-child, #student-summary p:last-child {
    margin-bottom: 0; }

.add-area-of-study {
  -webkit-transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1); }
  .add-area-of-study:hover, .add-area-of-study:focus {
    -webkit-transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 3px 3px rgba(60, 54, 42, 0.16);
    background-color: white; }
  .add-area-of-study:active {
    -webkit-transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 1px 1.5px rgba(60, 54, 42, 0.12);
    background-color: white; }

@font-face {
  font-family: "Ionicons";
  src: url("/libraries/ionicons/fonts/ionicons.eot?v=1.5.2");
  src: url("/libraries/ionicons/fonts/ionicons.eot?v=1.5.2#iefix") format("embedded-opentype"), url("/libraries/ionicons/fonts/ionicons.ttf?v=1.5.2") format("truetype"), url("/libraries/ionicons/fonts/ionicons.woff?v=1.5.2") format("woff"), url("/libraries/ionicons/fonts/ionicons.svg?v=1.5.2#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.ion, .area-of-study > details summary::after, .area-of-study > details[open] summary::after {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }

body {
  font-family: "Fira Sans", "Open Sans", "Helvetica", "Verdana", sans-serif;
  color: #2c281f;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #e3e3e3);
  background-image: linear-gradient(to bottom, #e8e8e8, #e3e3e3);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 15px; }

.area-of-study h1 {
  padding: 5px;
  font-size: inherit;
  font-weight: 300;
  margin: 0;
  z-index: 1;
  position: relative; }
.area-of-study details {
  position: relative; }
.area-of-study progress {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  vertical-align: middle;
  border: 0;
  color: #c3931e;
  background: transparent;
  border-radius: 3px;
  overflow: hidden; }
.area-of-study progress::-moz-progress-bar {
  background: #c3931e; }
.area-of-study progress::-webkit-progress-value {
  background: #c3931e; }
.area-of-study progress::-webkit-progress-bar {
  background: transparent; }
.area-of-study summary::-webkit-details-marker {
  display: none; }
.area-of-study summary::-moz-details-marker {
  display: none; }
.area-of-study summary::-ms-details-marker {
  display: none; }
.area-of-study summary::details-marker {
  display: none; }
.area-of-study summary:focus {
  outline: 2px solid #111111; }
.area-of-study > details summary::after {
  content: "\f151";
  position: absolute;
  top: calc(50% - 6px);
  right: 8px; }
.area-of-study > details[open] summary::after {
  content: "\f153"; }

.course-table {
  -webkit-flex: 1;
  flex: 1; }

.add-year {
  width: 100%;
  font-size: 1.25em; }

.course-table .year {
  margin-bottom: 15px;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  display: flex;
  flex-flow: row nowrap; }

.course-table .year-title h1, .course-table .year-title h2, .course-table .year-title h3, .course-table .year-title h4, .course-table .year-title h5, .course-table .year-title h6, .course-table .semester-title h1, .course-table .semester-title h2, .course-table .semester-title h3, .course-table .semester-title h4, .course-table .semester-title h5, .course-table .semester-title h6 {
  font-size: inherit;
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0; }

.course-table .year-title {
  width: 2em;
  padding: 0.5em 0.75em;
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  line-height: 1.15em;
  letter-spacing: 1em;
  word-wrap: break-word;
  text-align: center;
  font-weight: 200;
  font-size: 0.9em; }
  .course-table .year-title .year-divider {
    display: inline-block;
    padding: 0.25em 0; }

.graduation-status {
  -webkit-flex-basis: 300px;
  flex-basis: 300px;
  margin-right: 15px;
  font-size: 14px; }

.graduation-status .area-type-heading {
  font-size: 1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase; }
  .graduation-status .area-type-heading h1, .graduation-status .area-type-heading h2, .graduation-status .area-type-heading h3, .graduation-status .area-type-heading h4, .graduation-status .area-type-heading h5, .graduation-status .area-type-heading h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    display: inline-block;
    padding: 5px 0 3px; }

.add-area-of-study {
  cursor: pointer;
  position: relative;
  top: -1px; }

.semester {
  -webkit-flex: 1;
  flex: 1;
  padding: 2.5px 5px;
  border-left: solid 1px #c4c4c4; }

.add-semester {
  border-left: solid 1px #c4c4c4;
  width: 32px;
  font-size: 1.25em; }

#student-summary {
  padding: 5px 10px; }

#student-summary {
  -webkit-hyphens: auto;
  hyphens: auto; }
  #student-summary p {
    margin: 5px 0; }
  #student-summary.cannot-graduate .graduation-message {
    color: #ff851b; }
  #student-summary.can-graduate .graduation-message {
    color: #2ecc40; }

#student-letter {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  border-radius: 48px;
  -webkit-transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 1px 1.5px rgba(60, 54, 42, 0.12);
  color: #c3931e;
  float: left;
  margin-right: 5px; }
  #student-letter:hover {
    -webkit-transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.7s 0.01s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 3px 3px rgba(60, 54, 42, 0.16); }
  .cannot-graduate #student-letter {
    color: #ff851b; }
  .can-graduate #student-letter {
    color: #2ecc40; }

.student {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
