/* area of study colors */
$result-success-background: var(--green-200); //hsl(153, 25%, 95%);
$result-success-color: var(--green-700); //hsl(153, 43%, 42%);
$result-failure-color: var(--red-500); //hsl(3, 100%, 61%);
