@keyframes spin {
	to { transform: rotate(1turn); }
}

@mixin loading-spinner($size: 5em, $segment-width: 0.5em, $segment-length: 1.5em, $font-size: 24px) {
	position: relative;
	display: inline-block;
	width: $size;
	height: $size;
	margin: 0 .5em;
	font-size: $font-size;
	animation: spin 1s infinite steps(8);

	span {
		opacity: 0;
	}

	&::before,
	&::after,
	& > div::before,
	& > div::after {
		content: '';
		position: absolute;
		top: 0;
		left: ($size - $segment-width) / 2;  /* (container width - part width) / 2 */
		width: $segment-width;
		height: $segment-length;
		border-radius: .2em;
		background: #ddd;
		box-shadow: 0 ($size - $segment-length) #ddd;  /* container height - part height */
		transform-origin: 50% ($size / 2);  /* container height / 2 */
	}

	&::before {
		background: #555;
	}

	&::after {
		transform: rotate(-45deg);
		background: #777;
	}

	& > div::before {
		transform: rotate(-90deg);
		background: #999;
	}

	& > div::after {
		transform: rotate(-135deg);
		background: #bbb;
	}
}
