@import '../base/variables';

.sidebar {
	flex: 0 0 270px;
	min-width: 270px;
	margin-right: $page-edge-padding;

	@media all and (max-width: $single-column-width) {
		margin-right: 0;
		flex-basis: auto;
	}
}

.student-buttons {
	margin-bottom: 0.5em;
}

.is-hidden {
	display: none;
}
