@import '../mixins/card';
@import '../mixins/color';

.app-title {
	text-align: center;
}

.app-title svg {
	transform: rotate(-90deg);
}

.app-title h1 {
	font-weight: 300;
	margin: 0;
}

.app-title h2 {
	margin-top: 0;
	margin-bottom: 2em;
	font-weight: 400;
	font-size: 1em;
}

.import-student {
	margin-bottom: 0.5em;

	border: dashed 2px $text-color;
	border-radius: 8px;
	padding: 10px;

	transition: all 0.5s;

	p {
		margin: 0;
	}
}

.import-student-active {
	border-style: solid;
	background-color: white;
}

.students-overview {
	display: flex;
	flex-direction: column;
	max-width: 45em;
	margin: 0 auto;
}

.student-list-toolbar {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;

	margin-bottom: 1em;
}

.student-list-filter {
	@include card;
	flex: 5 0 auto;
	padding: 0.25em 0.5em;

	&:focus {
		color: color('blue', '900');
		border-color: color('blue', '500');
		background-color: color('blue', '50');
		outline: none;
	}
}

.student-list-buttons {
	width: 100%;
}

.student-list-buttons {
	justify-content: center;
}

.student-list--button {
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 0.25em;

	.icon {
		font-size: 1em;
	}
}
