.area {
	@include card;

	* {box-sizing: border-box;}

	margin-bottom: 1em;

	.summary > .details-marker       { display: none; }
	.summary::-webkit-details-marker { display: none; }
	.summary::-moz-details-marker    { display: none; }
	.summary::-ms-details-marker     { display: none; }
	.summary::details-marker         { display: none; }

	$progress-height: 4px;

	.summary {
		position: relative;
		cursor: pointer;

		display: flex;
		flex-flow: column nowrap;
	}

	& > .summary::after {
		content: '⋯';

		font-weight: bold;
		position: absolute;
		right: 12px;
		top: $progress-height;
	}

	&[open] > .summary::after {
		font-weight: normal;
		transform: rotate(90deg) scale(0.8);
	}

	.area--progress {
		width: 100%;
		height: $progress-height;

		@include progress-track('blue-gray');
		&.hundred   { @include progress-track('green') }
		&.ninety    { @include progress-track('orange') }
		&.eighty    { @include progress-track('orange') }
		&.seventy   { @include progress-track('orange') }
		&.sixty     { @include progress-track('amber') }
		&.fifty     { @include progress-track('amber') }
		&.forty     { @include progress-track('amber') }
		&.thirty    { @include progress-track('amber') }
		&.twenty    { @include progress-track('red') }
		&.ten       { @include progress-track('red') }
		&.under-ten { @include progress-track('red') }
	}
}

.area--title {
	padding: 0.5em;
	margin: 0;

	font-size: 1em;
}

.area-of-study-group {
	margin-top: 1em;
}

.area-type-heading {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.25em;
	margin-left: $block-edge-padding * 0.5;
	font-feature-settings: 'smcp';

	h1 {
		@include heading-neutral;
	}
}

.add-area-of-study {
	@include add-button($psuedo: '::before') {
		margin-right: 0.5em;
	}
	@include button--raised;

	min-height: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	width: 100%;
	text-align: left;
	padding-left: $block-edge-padding * 1.5;

	text-transform: none;
	font-feature-settings: 'smcp';
	font-size: 0.85em;
}
