.expression {
	display: inline-block;
}

.expression--contents {
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.expression--description {
	text-align: center;
	display: inline;
	margin: 0;
}

.expression--description:not(:only-child) {
	display: block;
	width: 100%;
	margin-bottom: 0.35em;
}

.expression .expression {
	margin: 0.1em;
}

.expression.computed--not {
	color: #777;
}

.joiner {
	text-align: center;
	margin-left: 0.75em;
	margin-right: 0.75em;

	word-wrap: break-word;
	width: 1em;
	line-height: 0.9em;
	font-size: 0.5em;
	font-weight: bold;
}

.expression--course,
.expression--modifier,
.expression--reference {
	border: 1px solid currentColor;
	padding: 0.125em 0.25em;

	&.computed::after {
		font-family: monospace;
		margin-left: 0.35em;
		display: inline-block;
	}

	&.computed.computed-success {
		background-color: hsl(153, 25%, 95%);
	}
	&.computed.computed-success::after {
		content: '✓';
		color: hsl(153, 43%, 42%);
	}

	&.computed.computed-failure::after {
		content: '×';
		color: hsl(3, 100%, 61%);
		font-weight: bold;
	}
}
