.graduation-status {
	font-size: 0.85em;
}


.area-of-study-group {
	margin-top: 1em;
}

.area-type-heading {
	@include heading-neutral;

	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.25em;
	margin-left: $block-edge-padding * 0.5;
	font-feature-settings: 'smcp';
}


.add-area-of-study {
	@include add-button($psuedo: '::before') {
		margin-right: 0.5em;
	}
	@include button--raised;

	min-height: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	width: 100%;
	text-align: left;
	padding-left: $block-edge-padding * 1.5;

	text-transform: none;
	font-feature-settings: 'smcp';
	font-size: 0.85em;
}

