.students-overview {
	display: flex;
	flex-direction: column;
	max-width: 45em;
	margin: 0 auto;
}


.student-list-toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

	margin-bottom: 1em;
}

.student-list-filter,
.student-list-buttons {
	flex: 1;
}

.student-list-buttons {
	display: flex;
	justify-content: center;
}

.student-list-buttons button {
	@include button--flat;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 0.25em;

	&::before {
		display: block;
		padding-bottom: 0.2em;
	}
}

.student-list-button--sort-by::before  { @include ionicon($ionicon-funnel); }
.student-list-button--group-by::before { @include ionicon($ionicon-folder); }
.student-list-button--edit::before     { @include ionicon($ionicon-navicon); }
.student-list-button--new::before      { @include ionicon($ionicon-plus); }

.student-list-buttons [class$='by']::after {
	margin-left: 0.25em;
	@include ionicon($ionicon-android-arrow-dropdown);
}


.student-list {
	@include list-inline;
	li { display: block; }
}

.student-list-item {
	@include button--raised($filter: true);
	@include link-undecorated;

	display: flex;
	align-items: center;
	max-width: 35em;
	margin: 0 auto 1.25em;
	padding: 0.5em 0.5em;
	position: relative;

	transition: 0.15s;
	&:hover {
		transform: translateX(0.25em);
	}

	&::after {
		@include ionicon($ionicon-ios-arrow-forward);
	}
}

.student-list-item:hover .name {
	text-decoration: underline;
}
.student-list-item .name {
	flex: 1;
}

.student-list-item .letter,
.student-list-item .delete {
	@include avatar-letter(2em);
	background-color: white;
	position: absolute;
	top: -0.125em;
	bottom: 0px;
	left: -1em;
}

.student-list-item .letter {
	box-shadow:
		0 0 0 1px color('blue'),
		0 0 0 4px white;
}

.student-list-item .delete {
	box-shadow:
		0 0 0 1px color('red'),
		0 0 0 4px white;
}

.student-list-item:hover .delete {
	box-shadow: 0 0 0 5px color('red');
}
