@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.app-title {
	margin-top: 3em;
	text-align: center;
}

.app-title svg {
	transform: rotate(-90deg);
}

.app-title h1 {
	font-weight: 300;
	margin: 0;
	font-feature-settings: 'smcp';
}

.app-title h2 {
	margin-top: 0;
	margin-bottom: 1em;
	font-weight: 400;
	font-size: 1em;
	font-feature-settings: 'smcp';
}

.students-overview {
	display: flex;
	flex-direction: column;
	max-width: 45em;
	margin: 0 auto;
}

.student-list-toolbar {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;

	margin-bottom: 1em;
}

.student-list-filter {
	@include card();
	flex: 3 0 auto;
	align-self: center;
	padding: 0.25em 0.5em;
	margin-right: 1em;
	margin-left: 1em; /* only for the search button */

	&:focus {
		color: $blue-900;
		border-color: $blue-500;
		background-color: $blue-50;
		outline: none;
	}
}

.student-list-buttons {
	width: 100%;
	justify-content: center;
}

.student-list--button {
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
	margin: 0 0.125em;
	flex-direction: column;
	flex: 0 1 auto !important;

	.icon {
		font-size: 1.5em;
		margin-bottom: 0.25em;
	}
}

.make-student {
	max-width: 10em;
	margin: 0 auto;
}
