.modal--content {
	display: flex;
	justify-content: center;
	margin: 10vh 0;

	// this is theme.elevation1
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.modal--backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(68, 68, 68, 0.25);
	overflow: auto;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}
