// Ionicons Variables
// --------------------------

$ionicons-font-family = "Ionicons"
$ionicons-version = "2.0.1"

$ionicon-alert = "\f101"
$ionicon-alert-circled = "\f100"
$ionicon-android-add = "\f2c7"
$ionicon-android-add-circle = "\f359"
$ionicon-android-alarm-clock = "\f35a"
$ionicon-android-alert = "\f35b"
$ionicon-android-apps = "\f35c"
$ionicon-android-archive = "\f2c9"
$ionicon-android-arrow-back = "\f2ca"
$ionicon-android-arrow-down = "\f35d"
$ionicon-android-arrow-dropdown = "\f35f"
$ionicon-android-arrow-dropdown-circle = "\f35e"
$ionicon-android-arrow-dropleft = "\f361"
$ionicon-android-arrow-dropleft-circle = "\f360"
$ionicon-android-arrow-dropright = "\f363"
$ionicon-android-arrow-dropright-circle = "\f362"
$ionicon-android-arrow-dropup = "\f365"
$ionicon-android-arrow-dropup-circle = "\f364"
$ionicon-android-arrow-forward = "\f30f"
$ionicon-android-arrow-up = "\f366"
$ionicon-android-attach = "\f367"
$ionicon-android-bar = "\f368"
$ionicon-android-bicycle = "\f369"
$ionicon-android-boat = "\f36a"
$ionicon-android-bookmark = "\f36b"
$ionicon-android-bulb = "\f36c"
$ionicon-android-bus = "\f36d"
$ionicon-android-calendar = "\f2d1"
$ionicon-android-call = "\f2d2"
$ionicon-android-camera = "\f2d3"
$ionicon-android-cancel = "\f36e"
$ionicon-android-car = "\f36f"
$ionicon-android-cart = "\f370"
$ionicon-android-chat = "\f2d4"
$ionicon-android-checkbox = "\f374"
$ionicon-android-checkbox-blank = "\f371"
$ionicon-android-checkbox-outline = "\f373"
$ionicon-android-checkbox-outline-blank = "\f372"
$ionicon-android-checkmark-circle = "\f375"
$ionicon-android-clipboard = "\f376"
$ionicon-android-close = "\f2d7"
$ionicon-android-cloud = "\f37a"
$ionicon-android-cloud-circle = "\f377"
$ionicon-android-cloud-done = "\f378"
$ionicon-android-cloud-outline = "\f379"
$ionicon-android-color-palette = "\f37b"
$ionicon-android-compass = "\f37c"
$ionicon-android-contact = "\f2d8"
$ionicon-android-contacts = "\f2d9"
$ionicon-android-contract = "\f37d"
$ionicon-android-create = "\f37e"
$ionicon-android-delete = "\f37f"
$ionicon-android-desktop = "\f380"
$ionicon-android-document = "\f381"
$ionicon-android-done = "\f383"
$ionicon-android-done-all = "\f382"
$ionicon-android-download = "\f2dd"
$ionicon-android-drafts = "\f384"
$ionicon-android-exit = "\f385"
$ionicon-android-expand = "\f386"
$ionicon-android-favorite = "\f388"
$ionicon-android-favorite-outline = "\f387"
$ionicon-android-film = "\f389"
$ionicon-android-folder = "\f2e0"
$ionicon-android-folder-open = "\f38a"
$ionicon-android-funnel = "\f38b"
$ionicon-android-globe = "\f38c"
$ionicon-android-hand = "\f2e3"
$ionicon-android-hangout = "\f38d"
$ionicon-android-happy = "\f38e"
$ionicon-android-home = "\f38f"
$ionicon-android-image = "\f2e4"
$ionicon-android-laptop = "\f390"
$ionicon-android-list = "\f391"
$ionicon-android-locate = "\f2e9"
$ionicon-android-lock = "\f392"
$ionicon-android-mail = "\f2eb"
$ionicon-android-map = "\f393"
$ionicon-android-menu = "\f394"
$ionicon-android-microphone = "\f2ec"
$ionicon-android-microphone-off = "\f395"
$ionicon-android-more-horizontal = "\f396"
$ionicon-android-more-vertical = "\f397"
$ionicon-android-navigate = "\f398"
$ionicon-android-notifications = "\f39b"
$ionicon-android-notifications-none = "\f399"
$ionicon-android-notifications-off = "\f39a"
$ionicon-android-open = "\f39c"
$ionicon-android-options = "\f39d"
$ionicon-android-people = "\f39e"
$ionicon-android-person = "\f3a0"
$ionicon-android-person-add = "\f39f"
$ionicon-android-phone-landscape = "\f3a1"
$ionicon-android-phone-portrait = "\f3a2"
$ionicon-android-pin = "\f3a3"
$ionicon-android-plane = "\f3a4"
$ionicon-android-playstore = "\f2f0"
$ionicon-android-print = "\f3a5"
$ionicon-android-radio-button-off = "\f3a6"
$ionicon-android-radio-button-on = "\f3a7"
$ionicon-android-refresh = "\f3a8"
$ionicon-android-remove = "\f2f4"
$ionicon-android-remove-circle = "\f3a9"
$ionicon-android-restaurant = "\f3aa"
$ionicon-android-sad = "\f3ab"
$ionicon-android-search = "\f2f5"
$ionicon-android-send = "\f2f6"
$ionicon-android-settings = "\f2f7"
$ionicon-android-share = "\f2f8"
$ionicon-android-share-alt = "\f3ac"
$ionicon-android-star = "\f2fc"
$ionicon-android-star-half = "\f3ad"
$ionicon-android-star-outline = "\f3ae"
$ionicon-android-stopwatch = "\f2fd"
$ionicon-android-subway = "\f3af"
$ionicon-android-sunny = "\f3b0"
$ionicon-android-sync = "\f3b1"
$ionicon-android-textsms = "\f3b2"
$ionicon-android-time = "\f3b3"
$ionicon-android-train = "\f3b4"
$ionicon-android-unlock = "\f3b5"
$ionicon-android-upload = "\f3b6"
$ionicon-android-volume-down = "\f3b7"
$ionicon-android-volume-mute = "\f3b8"
$ionicon-android-volume-off = "\f3b9"
$ionicon-android-volume-up = "\f3ba"
$ionicon-android-walk = "\f3bb"
$ionicon-android-warning = "\f3bc"
$ionicon-android-watch = "\f3bd"
$ionicon-android-wifi = "\f305"
$ionicon-aperture = "\f313"
$ionicon-archive = "\f102"
$ionicon-arrow-down-a = "\f103"
$ionicon-arrow-down-b = "\f104"
$ionicon-arrow-down-c = "\f105"
$ionicon-arrow-expand = "\f25e"
$ionicon-arrow-graph-down-left = "\f25f"
$ionicon-arrow-graph-down-right = "\f260"
$ionicon-arrow-graph-up-left = "\f261"
$ionicon-arrow-graph-up-right = "\f262"
$ionicon-arrow-left-a = "\f106"
$ionicon-arrow-left-b = "\f107"
$ionicon-arrow-left-c = "\f108"
$ionicon-arrow-move = "\f263"
$ionicon-arrow-resize = "\f264"
$ionicon-arrow-return-left = "\f265"
$ionicon-arrow-return-right = "\f266"
$ionicon-arrow-right-a = "\f109"
$ionicon-arrow-right-b = "\f10a"
$ionicon-arrow-right-c = "\f10b"
$ionicon-arrow-shrink = "\f267"
$ionicon-arrow-swap = "\f268"
$ionicon-arrow-up-a = "\f10c"
$ionicon-arrow-up-b = "\f10d"
$ionicon-arrow-up-c = "\f10e"
$ionicon-asterisk = "\f314"
$ionicon-at = "\f10f"
$ionicon-backspace = "\f3bf"
$ionicon-backspace-outline = "\f3be"
$ionicon-bag = "\f110"
$ionicon-battery-charging = "\f111"
$ionicon-battery-empty = "\f112"
$ionicon-battery-full = "\f113"
$ionicon-battery-half = "\f114"
$ionicon-battery-low = "\f115"
$ionicon-beaker = "\f269"
$ionicon-beer = "\f26a"
$ionicon-bluetooth = "\f116"
$ionicon-bonfire = "\f315"
$ionicon-bookmark = "\f26b"
$ionicon-bowtie = "\f3c0"
$ionicon-briefcase = "\f26c"
$ionicon-bug = "\f2be"
$ionicon-calculator = "\f26d"
$ionicon-calendar = "\f117"
$ionicon-camera = "\f118"
$ionicon-card = "\f119"
$ionicon-cash = "\f316"
$ionicon-chatbox = "\f11b"
$ionicon-chatbox-working = "\f11a"
$ionicon-chatboxes = "\f11c"
$ionicon-chatbubble = "\f11e"
$ionicon-chatbubble-working = "\f11d"
$ionicon-chatbubbles = "\f11f"
$ionicon-checkmark = "\f122"
$ionicon-checkmark-circled = "\f120"
$ionicon-checkmark-round = "\f121"
$ionicon-chevron-down = "\f123"
$ionicon-chevron-left = "\f124"
$ionicon-chevron-right = "\f125"
$ionicon-chevron-up = "\f126"
$ionicon-clipboard = "\f127"
$ionicon-clock = "\f26e"
$ionicon-close = "\f12a"
$ionicon-close-circled = "\f128"
$ionicon-close-round = "\f129"
$ionicon-closed-captioning = "\f317"
$ionicon-cloud = "\f12b"
$ionicon-code = "\f271"
$ionicon-code-download = "\f26f"
$ionicon-code-working = "\f270"
$ionicon-coffee = "\f272"
$ionicon-compass = "\f273"
$ionicon-compose = "\f12c"
$ionicon-connection-bars = "\f274"
$ionicon-contrast = "\f275"
$ionicon-crop = "\f3c1"
$ionicon-cube = "\f318"
$ionicon-disc = "\f12d"
$ionicon-document = "\f12f"
$ionicon-document-text = "\f12e"
$ionicon-drag = "\f130"
$ionicon-earth = "\f276"
$ionicon-easel = "\f3c2"
$ionicon-edit = "\f2bf"
$ionicon-egg = "\f277"
$ionicon-eject = "\f131"
$ionicon-email = "\f132"
$ionicon-email-unread = "\f3c3"
$ionicon-erlenmeyer-flask = "\f3c5"
$ionicon-erlenmeyer-flask-bubbles = "\f3c4"
$ionicon-eye = "\f133"
$ionicon-eye-disabled = "\f306"
$ionicon-female = "\f278"
$ionicon-filing = "\f134"
$ionicon-film-marker = "\f135"
$ionicon-fireball = "\f319"
$ionicon-flag = "\f279"
$ionicon-flame = "\f31a"
$ionicon-flash = "\f137"
$ionicon-flash-off = "\f136"
$ionicon-folder = "\f139"
$ionicon-fork = "\f27a"
$ionicon-fork-repo = "\f2c0"
$ionicon-forward = "\f13a"
$ionicon-funnel = "\f31b"
$ionicon-gear-a = "\f13d"
$ionicon-gear-b = "\f13e"
$ionicon-grid = "\f13f"
$ionicon-hammer = "\f27b"
$ionicon-happy = "\f31c"
$ionicon-happy-outline = "\f3c6"
$ionicon-headphone = "\f140"
$ionicon-heart = "\f141"
$ionicon-heart-broken = "\f31d"
$ionicon-help = "\f143"
$ionicon-help-buoy = "\f27c"
$ionicon-help-circled = "\f142"
$ionicon-home = "\f144"
$ionicon-icecream = "\f27d"
$ionicon-image = "\f147"
$ionicon-images = "\f148"
$ionicon-information = "\f14a"
$ionicon-information-circled = "\f149"
$ionicon-ionic = "\f14b"
$ionicon-ios-alarm = "\f3c8"
$ionicon-ios-alarm-outline = "\f3c7"
$ionicon-ios-albums = "\f3ca"
$ionicon-ios-albums-outline = "\f3c9"
$ionicon-ios-americanfootball = "\f3cc"
$ionicon-ios-americanfootball-outline = "\f3cb"
$ionicon-ios-analytics = "\f3ce"
$ionicon-ios-analytics-outline = "\f3cd"
$ionicon-ios-arrow-back = "\f3cf"
$ionicon-ios-arrow-down = "\f3d0"
$ionicon-ios-arrow-forward = "\f3d1"
$ionicon-ios-arrow-left = "\f3d2"
$ionicon-ios-arrow-right = "\f3d3"
$ionicon-ios-arrow-thin-down = "\f3d4"
$ionicon-ios-arrow-thin-left = "\f3d5"
$ionicon-ios-arrow-thin-right = "\f3d6"
$ionicon-ios-arrow-thin-up = "\f3d7"
$ionicon-ios-arrow-up = "\f3d8"
$ionicon-ios-at = "\f3da"
$ionicon-ios-at-outline = "\f3d9"
$ionicon-ios-barcode = "\f3dc"
$ionicon-ios-barcode-outline = "\f3db"
$ionicon-ios-baseball = "\f3de"
$ionicon-ios-baseball-outline = "\f3dd"
$ionicon-ios-basketball = "\f3e0"
$ionicon-ios-basketball-outline = "\f3df"
$ionicon-ios-bell = "\f3e2"
$ionicon-ios-bell-outline = "\f3e1"
$ionicon-ios-body = "\f3e4"
$ionicon-ios-body-outline = "\f3e3"
$ionicon-ios-bolt = "\f3e6"
$ionicon-ios-bolt-outline = "\f3e5"
$ionicon-ios-book = "\f3e8"
$ionicon-ios-book-outline = "\f3e7"
$ionicon-ios-bookmarks = "\f3ea"
$ionicon-ios-bookmarks-outline = "\f3e9"
$ionicon-ios-box = "\f3ec"
$ionicon-ios-box-outline = "\f3eb"
$ionicon-ios-briefcase = "\f3ee"
$ionicon-ios-briefcase-outline = "\f3ed"
$ionicon-ios-browsers = "\f3f0"
$ionicon-ios-browsers-outline = "\f3ef"
$ionicon-ios-calculator = "\f3f2"
$ionicon-ios-calculator-outline = "\f3f1"
$ionicon-ios-calendar = "\f3f4"
$ionicon-ios-calendar-outline = "\f3f3"
$ionicon-ios-camera = "\f3f6"
$ionicon-ios-camera-outline = "\f3f5"
$ionicon-ios-cart = "\f3f8"
$ionicon-ios-cart-outline = "\f3f7"
$ionicon-ios-chatboxes = "\f3fa"
$ionicon-ios-chatboxes-outline = "\f3f9"
$ionicon-ios-chatbubble = "\f3fc"
$ionicon-ios-chatbubble-outline = "\f3fb"
$ionicon-ios-checkmark = "\f3ff"
$ionicon-ios-checkmark-empty = "\f3fd"
$ionicon-ios-checkmark-outline = "\f3fe"
$ionicon-ios-circle-filled = "\f400"
$ionicon-ios-circle-outline = "\f401"
$ionicon-ios-clock = "\f403"
$ionicon-ios-clock-outline = "\f402"
$ionicon-ios-close = "\f406"
$ionicon-ios-close-empty = "\f404"
$ionicon-ios-close-outline = "\f405"
$ionicon-ios-cloud = "\f40c"
$ionicon-ios-cloud-download = "\f408"
$ionicon-ios-cloud-download-outline = "\f407"
$ionicon-ios-cloud-outline = "\f409"
$ionicon-ios-cloud-upload = "\f40b"
$ionicon-ios-cloud-upload-outline = "\f40a"
$ionicon-ios-cloudy = "\f410"
$ionicon-ios-cloudy-night = "\f40e"
$ionicon-ios-cloudy-night-outline = "\f40d"
$ionicon-ios-cloudy-outline = "\f40f"
$ionicon-ios-cog = "\f412"
$ionicon-ios-cog-outline = "\f411"
$ionicon-ios-color-filter = "\f414"
$ionicon-ios-color-filter-outline = "\f413"
$ionicon-ios-color-wand = "\f416"
$ionicon-ios-color-wand-outline = "\f415"
$ionicon-ios-compose = "\f418"
$ionicon-ios-compose-outline = "\f417"
$ionicon-ios-contact = "\f41a"
$ionicon-ios-contact-outline = "\f419"
$ionicon-ios-copy = "\f41c"
$ionicon-ios-copy-outline = "\f41b"
$ionicon-ios-crop = "\f41e"
$ionicon-ios-crop-strong = "\f41d"
$ionicon-ios-download = "\f420"
$ionicon-ios-download-outline = "\f41f"
$ionicon-ios-drag = "\f421"
$ionicon-ios-email = "\f423"
$ionicon-ios-email-outline = "\f422"
$ionicon-ios-eye = "\f425"
$ionicon-ios-eye-outline = "\f424"
$ionicon-ios-fastforward = "\f427"
$ionicon-ios-fastforward-outline = "\f426"
$ionicon-ios-filing = "\f429"
$ionicon-ios-filing-outline = "\f428"
$ionicon-ios-film = "\f42b"
$ionicon-ios-film-outline = "\f42a"
$ionicon-ios-flag = "\f42d"
$ionicon-ios-flag-outline = "\f42c"
$ionicon-ios-flame = "\f42f"
$ionicon-ios-flame-outline = "\f42e"
$ionicon-ios-flask = "\f431"
$ionicon-ios-flask-outline = "\f430"
$ionicon-ios-flower = "\f433"
$ionicon-ios-flower-outline = "\f432"
$ionicon-ios-folder = "\f435"
$ionicon-ios-folder-outline = "\f434"
$ionicon-ios-football = "\f437"
$ionicon-ios-football-outline = "\f436"
$ionicon-ios-game-controller-a = "\f439"
$ionicon-ios-game-controller-a-outline = "\f438"
$ionicon-ios-game-controller-b = "\f43b"
$ionicon-ios-game-controller-b-outline = "\f43a"
$ionicon-ios-gear = "\f43d"
$ionicon-ios-gear-outline = "\f43c"
$ionicon-ios-glasses = "\f43f"
$ionicon-ios-glasses-outline = "\f43e"
$ionicon-ios-grid-view = "\f441"
$ionicon-ios-grid-view-outline = "\f440"
$ionicon-ios-heart = "\f443"
$ionicon-ios-heart-outline = "\f442"
$ionicon-ios-help = "\f446"
$ionicon-ios-help-empty = "\f444"
$ionicon-ios-help-outline = "\f445"
$ionicon-ios-home = "\f448"
$ionicon-ios-home-outline = "\f447"
$ionicon-ios-infinite = "\f44a"
$ionicon-ios-infinite-outline = "\f449"
$ionicon-ios-information = "\f44d"
$ionicon-ios-information-empty = "\f44b"
$ionicon-ios-information-outline = "\f44c"
$ionicon-ios-ionic-outline = "\f44e"
$ionicon-ios-keypad = "\f450"
$ionicon-ios-keypad-outline = "\f44f"
$ionicon-ios-lightbulb = "\f452"
$ionicon-ios-lightbulb-outline = "\f451"
$ionicon-ios-list = "\f454"
$ionicon-ios-list-outline = "\f453"
$ionicon-ios-location = "\f456"
$ionicon-ios-location-outline = "\f455"
$ionicon-ios-locked = "\f458"
$ionicon-ios-locked-outline = "\f457"
$ionicon-ios-loop = "\f45a"
$ionicon-ios-loop-strong = "\f459"
$ionicon-ios-medical = "\f45c"
$ionicon-ios-medical-outline = "\f45b"
$ionicon-ios-medkit = "\f45e"
$ionicon-ios-medkit-outline = "\f45d"
$ionicon-ios-mic = "\f461"
$ionicon-ios-mic-off = "\f45f"
$ionicon-ios-mic-outline = "\f460"
$ionicon-ios-minus = "\f464"
$ionicon-ios-minus-empty = "\f462"
$ionicon-ios-minus-outline = "\f463"
$ionicon-ios-monitor = "\f466"
$ionicon-ios-monitor-outline = "\f465"
$ionicon-ios-moon = "\f468"
$ionicon-ios-moon-outline = "\f467"
$ionicon-ios-more = "\f46a"
$ionicon-ios-more-outline = "\f469"
$ionicon-ios-musical-note = "\f46b"
$ionicon-ios-musical-notes = "\f46c"
$ionicon-ios-navigate = "\f46e"
$ionicon-ios-navigate-outline = "\f46d"
$ionicon-ios-nutrition = "\f470"
$ionicon-ios-nutrition-outline = "\f46f"
$ionicon-ios-paper = "\f472"
$ionicon-ios-paper-outline = "\f471"
$ionicon-ios-paperplane = "\f474"
$ionicon-ios-paperplane-outline = "\f473"
$ionicon-ios-partlysunny = "\f476"
$ionicon-ios-partlysunny-outline = "\f475"
$ionicon-ios-pause = "\f478"
$ionicon-ios-pause-outline = "\f477"
$ionicon-ios-paw = "\f47a"
$ionicon-ios-paw-outline = "\f479"
$ionicon-ios-people = "\f47c"
$ionicon-ios-people-outline = "\f47b"
$ionicon-ios-person = "\f47e"
$ionicon-ios-person-outline = "\f47d"
$ionicon-ios-personadd = "\f480"
$ionicon-ios-personadd-outline = "\f47f"
$ionicon-ios-photos = "\f482"
$ionicon-ios-photos-outline = "\f481"
$ionicon-ios-pie = "\f484"
$ionicon-ios-pie-outline = "\f483"
$ionicon-ios-pint = "\f486"
$ionicon-ios-pint-outline = "\f485"
$ionicon-ios-play = "\f488"
$ionicon-ios-play-outline = "\f487"
$ionicon-ios-plus = "\f48b"
$ionicon-ios-plus-empty = "\f489"
$ionicon-ios-plus-outline = "\f48a"
$ionicon-ios-pricetag = "\f48d"
$ionicon-ios-pricetag-outline = "\f48c"
$ionicon-ios-pricetags = "\f48f"
$ionicon-ios-pricetags-outline = "\f48e"
$ionicon-ios-printer = "\f491"
$ionicon-ios-printer-outline = "\f490"
$ionicon-ios-pulse = "\f493"
$ionicon-ios-pulse-strong = "\f492"
$ionicon-ios-rainy = "\f495"
$ionicon-ios-rainy-outline = "\f494"
$ionicon-ios-recording = "\f497"
$ionicon-ios-recording-outline = "\f496"
$ionicon-ios-redo = "\f499"
$ionicon-ios-redo-outline = "\f498"
$ionicon-ios-refresh = "\f49c"
$ionicon-ios-refresh-empty = "\f49a"
$ionicon-ios-refresh-outline = "\f49b"
$ionicon-ios-reload = "\f49d"
$ionicon-ios-reverse-camera = "\f49f"
$ionicon-ios-reverse-camera-outline = "\f49e"
$ionicon-ios-rewind = "\f4a1"
$ionicon-ios-rewind-outline = "\f4a0"
$ionicon-ios-rose = "\f4a3"
$ionicon-ios-rose-outline = "\f4a2"
$ionicon-ios-search = "\f4a5"
$ionicon-ios-search-strong = "\f4a4"
$ionicon-ios-settings = "\f4a7"
$ionicon-ios-settings-strong = "\f4a6"
$ionicon-ios-shuffle = "\f4a9"
$ionicon-ios-shuffle-strong = "\f4a8"
$ionicon-ios-skipbackward = "\f4ab"
$ionicon-ios-skipbackward-outline = "\f4aa"
$ionicon-ios-skipforward = "\f4ad"
$ionicon-ios-skipforward-outline = "\f4ac"
$ionicon-ios-snowy = "\f4ae"
$ionicon-ios-speedometer = "\f4b0"
$ionicon-ios-speedometer-outline = "\f4af"
$ionicon-ios-star = "\f4b3"
$ionicon-ios-star-half = "\f4b1"
$ionicon-ios-star-outline = "\f4b2"
$ionicon-ios-stopwatch = "\f4b5"
$ionicon-ios-stopwatch-outline = "\f4b4"
$ionicon-ios-sunny = "\f4b7"
$ionicon-ios-sunny-outline = "\f4b6"
$ionicon-ios-telephone = "\f4b9"
$ionicon-ios-telephone-outline = "\f4b8"
$ionicon-ios-tennisball = "\f4bb"
$ionicon-ios-tennisball-outline = "\f4ba"
$ionicon-ios-thunderstorm = "\f4bd"
$ionicon-ios-thunderstorm-outline = "\f4bc"
$ionicon-ios-time = "\f4bf"
$ionicon-ios-time-outline = "\f4be"
$ionicon-ios-timer = "\f4c1"
$ionicon-ios-timer-outline = "\f4c0"
$ionicon-ios-toggle = "\f4c3"
$ionicon-ios-toggle-outline = "\f4c2"
$ionicon-ios-trash = "\f4c5"
$ionicon-ios-trash-outline = "\f4c4"
$ionicon-ios-undo = "\f4c7"
$ionicon-ios-undo-outline = "\f4c6"
$ionicon-ios-unlocked = "\f4c9"
$ionicon-ios-unlocked-outline = "\f4c8"
$ionicon-ios-upload = "\f4cb"
$ionicon-ios-upload-outline = "\f4ca"
$ionicon-ios-videocam = "\f4cd"
$ionicon-ios-videocam-outline = "\f4cc"
$ionicon-ios-volume-high = "\f4ce"
$ionicon-ios-volume-low = "\f4cf"
$ionicon-ios-wineglass = "\f4d1"
$ionicon-ios-wineglass-outline = "\f4d0"
$ionicon-ios-world = "\f4d3"
$ionicon-ios-world-outline = "\f4d2"
$ionicon-ipad = "\f1f9"
$ionicon-iphone = "\f1fa"
$ionicon-ipod = "\f1fb"
$ionicon-jet = "\f295"
$ionicon-key = "\f296"
$ionicon-knife = "\f297"
$ionicon-laptop = "\f1fc"
$ionicon-leaf = "\f1fd"
$ionicon-levels = "\f298"
$ionicon-lightbulb = "\f299"
$ionicon-link = "\f1fe"
$ionicon-load-a = "\f29a"
$ionicon-load-b = "\f29b"
$ionicon-load-c = "\f29c"
$ionicon-load-d = "\f29d"
$ionicon-location = "\f1ff"
$ionicon-lock-combination = "\f4d4"
$ionicon-locked = "\f200"
$ionicon-log-in = "\f29e"
$ionicon-log-out = "\f29f"
$ionicon-loop = "\f201"
$ionicon-magnet = "\f2a0"
$ionicon-male = "\f2a1"
$ionicon-man = "\f202"
$ionicon-map = "\f203"
$ionicon-medkit = "\f2a2"
$ionicon-merge = "\f33f"
$ionicon-mic-a = "\f204"
$ionicon-mic-b = "\f205"
$ionicon-mic-c = "\f206"
$ionicon-minus = "\f209"
$ionicon-minus-circled = "\f207"
$ionicon-minus-round = "\f208"
$ionicon-model-s = "\f2c1"
$ionicon-monitor = "\f20a"
$ionicon-more = "\f20b"
$ionicon-mouse = "\f340"
$ionicon-music-note = "\f20c"
$ionicon-navicon = "\f20e"
$ionicon-navicon-round = "\f20d"
$ionicon-navigate = "\f2a3"
$ionicon-network = "\f341"
$ionicon-no-smoking = "\f2c2"
$ionicon-nuclear = "\f2a4"
$ionicon-outlet = "\f342"
$ionicon-paintbrush = "\f4d5"
$ionicon-paintbucket = "\f4d6"
$ionicon-paper-airplane = "\f2c3"
$ionicon-paperclip = "\f20f"
$ionicon-pause = "\f210"
$ionicon-person = "\f213"
$ionicon-person-add = "\f211"
$ionicon-person-stalker = "\f212"
$ionicon-pie-graph = "\f2a5"
$ionicon-pin = "\f2a6"
$ionicon-pinpoint = "\f2a7"
$ionicon-pizza = "\f2a8"
$ionicon-plane = "\f214"
$ionicon-planet = "\f343"
$ionicon-play = "\f215"
$ionicon-playstation = "\f30a"
$ionicon-plus = "\f218"
$ionicon-plus-circled = "\f216"
$ionicon-plus-round = "\f217"
$ionicon-podium = "\f344"
$ionicon-pound = "\f219"
$ionicon-power = "\f2a9"
$ionicon-pricetag = "\f2aa"
$ionicon-pricetags = "\f2ab"
$ionicon-printer = "\f21a"
$ionicon-pull-request = "\f345"
$ionicon-qr-scanner = "\f346"
$ionicon-quote = "\f347"
$ionicon-radio-waves = "\f2ac"
$ionicon-record = "\f21b"
$ionicon-refresh = "\f21c"
$ionicon-reply = "\f21e"
$ionicon-reply-all = "\f21d"
$ionicon-ribbon-a = "\f348"
$ionicon-ribbon-b = "\f349"
$ionicon-sad = "\f34a"
$ionicon-sad-outline = "\f4d7"
$ionicon-scissors = "\f34b"
$ionicon-search = "\f21f"
$ionicon-settings = "\f2ad"
$ionicon-share = "\f220"
$ionicon-shuffle = "\f221"
$ionicon-skip-backward = "\f222"
$ionicon-skip-forward = "\f223"
$ionicon-social-android = "\f225"
$ionicon-social-android-outline = "\f224"
$ionicon-social-angular = "\f4d9"
$ionicon-social-angular-outline = "\f4d8"
$ionicon-social-apple = "\f227"
$ionicon-social-apple-outline = "\f226"
$ionicon-social-bitcoin = "\f2af"
$ionicon-social-bitcoin-outline = "\f2ae"
$ionicon-social-buffer = "\f229"
$ionicon-social-buffer-outline = "\f228"
$ionicon-social-chrome = "\f4db"
$ionicon-social-chrome-outline = "\f4da"
$ionicon-social-codepen = "\f4dd"
$ionicon-social-codepen-outline = "\f4dc"
$ionicon-social-css3 = "\f4df"
$ionicon-social-css3-outline = "\f4de"
$ionicon-social-designernews = "\f22b"
$ionicon-social-designernews-outline = "\f22a"
$ionicon-social-dribbble = "\f22d"
$ionicon-social-dribbble-outline = "\f22c"
$ionicon-social-dropbox = "\f22f"
$ionicon-social-dropbox-outline = "\f22e"
$ionicon-social-euro = "\f4e1"
$ionicon-social-euro-outline = "\f4e0"
$ionicon-social-facebook = "\f231"
$ionicon-social-facebook-outline = "\f230"
$ionicon-social-foursquare = "\f34d"
$ionicon-social-foursquare-outline = "\f34c"
$ionicon-social-freebsd-devil = "\f2c4"
$ionicon-social-github = "\f233"
$ionicon-social-github-outline = "\f232"
$ionicon-social-google = "\f34f"
$ionicon-social-google-outline = "\f34e"
$ionicon-social-googleplus = "\f235"
$ionicon-social-googleplus-outline = "\f234"
$ionicon-social-hackernews = "\f237"
$ionicon-social-hackernews-outline = "\f236"
$ionicon-social-html5 = "\f4e3"
$ionicon-social-html5-outline = "\f4e2"
$ionicon-social-instagram = "\f351"
$ionicon-social-instagram-outline = "\f350"
$ionicon-social-javascript = "\f4e5"
$ionicon-social-javascript-outline = "\f4e4"
$ionicon-social-linkedin = "\f239"
$ionicon-social-linkedin-outline = "\f238"
$ionicon-social-markdown = "\f4e6"
$ionicon-social-nodejs = "\f4e7"
$ionicon-social-octocat = "\f4e8"
$ionicon-social-pinterest = "\f2b1"
$ionicon-social-pinterest-outline = "\f2b0"
$ionicon-social-python = "\f4e9"
$ionicon-social-reddit = "\f23b"
$ionicon-social-reddit-outline = "\f23a"
$ionicon-social-rss = "\f23d"
$ionicon-social-rss-outline = "\f23c"
$ionicon-social-sass = "\f4ea"
$ionicon-social-skype = "\f23f"
$ionicon-social-skype-outline = "\f23e"
$ionicon-social-snapchat = "\f4ec"
$ionicon-social-snapchat-outline = "\f4eb"
$ionicon-social-tumblr = "\f241"
$ionicon-social-tumblr-outline = "\f240"
$ionicon-social-tux = "\f2c5"
$ionicon-social-twitch = "\f4ee"
$ionicon-social-twitch-outline = "\f4ed"
$ionicon-social-twitter = "\f243"
$ionicon-social-twitter-outline = "\f242"
$ionicon-social-usd = "\f353"
$ionicon-social-usd-outline = "\f352"
$ionicon-social-vimeo = "\f245"
$ionicon-social-vimeo-outline = "\f244"
$ionicon-social-whatsapp = "\f4f0"
$ionicon-social-whatsapp-outline = "\f4ef"
$ionicon-social-windows = "\f247"
$ionicon-social-windows-outline = "\f246"
$ionicon-social-wordpress = "\f249"
$ionicon-social-wordpress-outline = "\f248"
$ionicon-social-yahoo = "\f24b"
$ionicon-social-yahoo-outline = "\f24a"
$ionicon-social-yen = "\f4f2"
$ionicon-social-yen-outline = "\f4f1"
$ionicon-social-youtube = "\f24d"
$ionicon-social-youtube-outline = "\f24c"
$ionicon-soup-can = "\f4f4"
$ionicon-soup-can-outline = "\f4f3"
$ionicon-speakerphone = "\f2b2"
$ionicon-speedometer = "\f2b3"
$ionicon-spoon = "\f2b4"
$ionicon-star = "\f24e"
$ionicon-stats-bars = "\f2b5"
$ionicon-steam = "\f30b"
$ionicon-stop = "\f24f"
$ionicon-thermometer = "\f2b6"
$ionicon-thumbsdown = "\f250"
$ionicon-thumbsup = "\f251"
$ionicon-toggle = "\f355"
$ionicon-toggle-filled = "\f354"
$ionicon-transgender = "\f4f5"
$ionicon-trash-a = "\f252"
$ionicon-trash-b = "\f253"
$ionicon-trophy = "\f356"
$ionicon-tshirt = "\f4f7"
$ionicon-tshirt-outline = "\f4f6"
$ionicon-umbrella = "\f2b7"
$ionicon-university = "\f357"
$ionicon-unlocked = "\f254"
$ionicon-upload = "\f255"
$ionicon-usb = "\f2b8"
$ionicon-videocamera = "\f256"
$ionicon-volume-high = "\f257"
$ionicon-volume-low = "\f258"
$ionicon-volume-medium = "\f259"
$ionicon-volume-mute = "\f25a"
$ionicon-wand = "\f358"
$ionicon-waterdrop = "\f25b"
$ionicon-wifi = "\f25c"
$ionicon-wineglass = "\f2b9"
$ionicon-woman = "\f25d"
$ionicon-wrench = "\f2ba"
$ionicon-xbox = "\f30c"
