article.summary
	p 
		Hi, {name}! You are majoring in {majors}, with 
		concentrations in {concentrations}, and {degrees},
		and hope to graduate in {graduation}.

	p.outcome.outcome-success
		Looks like you're good to go!