@import '../mixins/card';
@import '../mixins/progress-bar';
@import '../icons';

.area-of-study {
	@include card;

	overflow: hidden;
	margin-bottom: 0.5em;

	h1 {
		padding: $block-edge-padding;
		padding-left: $block-edge-padding * 1.5;
		font-size: inherit;
		font-weight: 400;
		margin: 0;
		z-index: 1;
		position: relative;
		font-feature-settings: 'smcp';

		font-family: $heading-font-stack;
	}

	& > .summary {
		position: relative;
		cursor: pointer;
		display: block;
	}

	progress {
		@include progress-bar($color: color('orange'));

		position: absolute;
		top: 0;

		width: 100%;
		height: 2px;

		border: 0;

		&.hundred { @include progress-bar($color: color('green', '500')); }
		&.ninety  { @include progress-bar($color: color('orange', '500')); }
		&.eighty  { @include progress-bar($color: color('orange', '500')); }
		&.seventy { @include progress-bar($color: color('orange', '500')); }
		&.sixty   { @include progress-bar($color: color('amber', '500')); }
		&.fifty   { @include progress-bar($color: color('amber', '500')); }
		&.forty   { @include progress-bar($color: color('amber', '500')); }
		&.thirty  { @include progress-bar($color: color('amber', '500')); }
		&.twenty  { @include progress-bar($color: color('red', '500')); }
		&.ten     { @include progress-bar($color: color('red', '500')); }
		&.zero    { @include progress-bar($color: color('red', '500')); }
	}

	& > .summary::after {
		@include ionicon($ionicon-ios7-more);

		position: absolute;
		top: 1px;
		right: 12px;
		z-index: 1;
		font-size: 2em;

		transition: 0.1s;
	}

	&.open > .summary::after {
		@include ionicon($ionicon-ios7-more-outline);

		transform: rotate(90deg) scale(0.8);
	}
}

.add-area-of-study {
	@include add-button {
		margin-left: 0.5em;
	}
	@include button--raised;
	min-height: 0;
	width: 100%;
	text-align: left;
	padding-left: $block-edge-padding * 1.5;

	text-transform: lowercase;
	font-feature-settings: 'smcp';
	font-size: 0.75em;
}
