*, *::before, *::after {
	box-sizing: inherit;
}

html {
	font-family: $sans-font-stack;
	color: $text-color;

	min-height: 100vh;
	box-sizing: border-box;

	background-color: $background-start-color;
}

body {
	margin: $page-edge-padding;
}

.loading {
	margin: 20vh auto 0;
	display: block;
	height: 15em;
}
