*, *::before, *::after {
	box-sizing: inherit;
}

html {
	font-family: $sans-font-stack;
	color: $text-color;

	min-height: 100vh;
	box-sizing: border-box;

	// background-image: -webkit-linear-gradient(top, $background-start-color, $background-end-color);
	// background-image: linear-gradient(to bottom, $background-start-color, $background-end-color);
	background-color: $background-start-color;
	// background-repeat: no-repeat;
}

body {
	margin: $page-edge-padding;
}

.loading {
	margin: 20vh auto 0;
	display: block;
	height: 15em;
}
