@mixin alt-button {
	@include block;
	border: 0;
	padding: 0.25em 0.5em;

	&:disabled {
		color: #888;
		box-shadow: none;
	}

	a { @include link-undecorated; }
}

.button-list {
	button, input[type='submit'] {
		@include alt-button;
	}
	button + button {
		margin-left: 0.2em;
	}
}
