@import '../mixins/button--raised';

.button-list {
	font-size: 0.85em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	button, input[type='submit'] {
		$spacing: 0.5em;
		@include button--raised;
		flex-grow: 1;
		padding-left: 1em;
		padding-right: 1em;

		margin-right: $spacing / 2;
		margin-left: $spacing / 2;
		margin-bottom: $spacing;
	}

	margin-bottom: 1em;
}
