@import '../mixins/button--flat';

.button-list {
	font-size: 0.85em;
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	align-items: stretch;

	button, input[type='submit'] {
		@include button--flat;
	}

	button + button {
		margin-left: 0.2em;
	}

	margin-bottom: 1em;
}
