.course {
	margin-bottom: 0.35em;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	.title, .summary {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.title {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1;
		padding: 0;
		padding-bottom: 0.25ex;
		font-size: 1em;
		font-weight: 500;
		font-family: $heading-font-stack;

		cursor: move;
	}

	.title, .description {
		font-feature-settings: 'onum';
	}

	.type {
		font-feature-settings: 'smcp';
		font-size: 0.8em;
		background-color: hsl(0, 0%, 90%);
		border-radius: 5px;
		padding: 2px 4px;
		margin-right: 5px;
	}

	.summary, .details {
		font-size: 0.75em;
	}

	.identifier {
		font-feature-settings: 'tnum';
	}

	.identifier, .credits {
		&::after {
			content: " · ";
		}
	}

	.info-rows {
		flex: 1;
	}

	p, ul {
		margin: 0;
	}

	.offerings > span {
		display: block;
	}

	.gereqs {
		padding: 0;
		list-style: none;
		li {
			background-color: hsl(0, 0%, 90%);
			border-radius: 3px;
			display: inline-block;
			padding: 0 0.25em;

			& + li {
				margin-left: 0.25em;
			}
		}
	}

	.tools {
		border-top: 1px solid hsl(0, 0%, 90%);
		margin-top: 0.25em;
		padding-top: 0.25em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		font-size: 1rem;
	}

	.remove-course {
		font-size: 0.85em;
	}

	.offerings, .gereqs, .description {
		margin-bottom: 0.5em;
	}
}

.course.expanded {
	background-color: hsl(0, 0%, 98%);
	border-radius: 5px;
	padding: 0.15em 0.25em;
	margin-bottom: 1em;
	margin-top: 0.5em;

	.title {
		padding-top: 0.25ex;
		overflow: visible;
		white-space: normal;
		line-height: 1.2;
	}
}

.course.empty {
	opacity: 0.5;
	user-select: none;
	cursor: default;

	& .title {
		cursor: default;
	}
}
