@import '../mixins/button--raised';

.graduation-status {
	font-size: 0.85em;

	menu {
		margin-top: 0;
	}
}

.graduation-status .area-type-heading {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	font-feature-settings: 'smcp';

	h1 {
		@include heading-neutral;
		padding: 5px 0 3px;
	}
}

.add-area-of-study {
	@include add-button {
		margin-left: 0.5em;
	}
	@include button--raised;

	width: 100%;
	text-align: left;
	text-transform: lowercase;
	font-feature-settings: 'smcp';
	padding-left: $block-edge-padding * 1.5;
	font-size: 0.75em;
}
