$border-color: rgba(50, 50, 50, 0.25);
.requirement-set {
	h2 {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;

		margin: 0;
		padding-top: 2px;

		background-color: rgb(245, 245, 245);
		text-transform: uppercase;
		text-align: center;

		font-size: 0.85em;
		font-family: $heading-font-stack;
		font-weight: 300;
	}

	margin-bottom: 0.35em;
}

.requirement-set .requirement-set:nth-child(2) {
	margin-top: 2px;
}

.requirement-set .requirement-set > h2 {
	border-top: 0;
	background-color: white;

	padding-top: 4px;
}

.requirement-result {
	.incomplete, .completed {
		&::after {
			margin-left: 0.3em;
		}
	}
	.incomplete::after {
		@include ionicon($ionicon-var-close-circled);
		color: $red;
	}
	.completed::after {
		@include ionicon($ionicon-var-checkmark-circled);
		color: darken($green, 10%);
	}

	text-align: center;
}

.requirement-result > span {
	padding: 2px 5px;
	display: block;
}

span + .requirement-detail-list {
	border-top: 1px solid $border-color;
	&:empty {
		border-top: 0;
	}
}

.requirement-detail-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-flow: row wrap;

	li {
		padding: 2px 5px;
		flex: 1 0 33%;
		// flex: 1 0 auto;
		// min-width: 33%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
