$border-color: rgba(50, 50, 50, 0.25);
.requirement-set {
	h2 {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;

		margin: 0;
		padding-top: 2px;

		background-color: rgb(245, 245, 245);
		text-transform: uppercase;
		text-align: center;

		font-size: 0.85em;
		font-family: $heading-font-stack;
		font-weight: 300;
	}

	margin-bottom: 0.35em;
}

.requirement-set .requirement-set:nth-child(2) {
	margin-top: 2px;
}

.requirement-set .requirement-set > h2 {
	border-top: 0;
	background-color: white;

	padding-top: 4px;
}

.requirement {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	&::before {
		margin-right: 0.5em;
	}

	&.nope {
		opacity: 0.5;
		&::before {
			opacity: 0.15;
			@include ionicon($ionicon-var-record);
		}
	}

	&.incomplete::before {
		@include ionicon($ionicon-var-close-circled);
		color: $red;
	}
	&.completed::before {
		@include ionicon($ionicon-var-checkmark-circled);
		color: darken($green, 10%);
	}
}

.requirement-result-object-number,
.requirement-result-some-array,
.requirement-result-boolean {
	text-align: center;
}

.requirement-result > .requirement {
	padding: 2px 5px;
	display: block;
}

.requirement + .requirement-detail-list {
	border-top: 1px solid $border-color;

	&:empty { border-top: 0; }
}

.requirement-detail-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-flow: row wrap;

	justify-content: space-around;

	.match, .requirement {
		overflow: hidden;
		text-overflow: ellipsis;

		padding: 2px 2px;
		min-width: 35%;
		text-align: center;
	}
}
