.search-sidebar {
	@include card;

	position: sticky;
	top: $page-edge-padding;

	flex: 1;

	background: white;
	border-radius: .25em;

	padding: 0.5rem;

	display: flex;
	flex-flow: column nowrap;

	.search-box {
		width: 100%;
		box-sizing: inherit;

		margin-bottom: 0.5rem;
	}

	.course-list, .course-list li > ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.course-group {
		font-weight: bold;
		text-align: center;
		display: block;

		margin-top: 1rem;
		margin-bottom:0.5rem;
	}

	.course-list {
		height: auto;
		overflow-y: scroll;
	}
}

.close-sidebar {
	@include button--flat;

	color: $gray;
	transition: 0.15s;

	&:hover {
		color: $red;
	}

	&::after {
		@include ionicon($ionicon-close);
	}

	align-items: center;
}

.sidebar-heading {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 1em;

	h1 {
		flex: 1;
		text-align: center;
		font-size: 1.25em;
		margin: 0;
		font-feature-settings: 'smcp';
	}
}
