$semester-divider: solid 1px $border-bottom-color;

.semester {
	@extend %block;
	flex: 1 1 15em;
	margin: 2px;

	padding: $block-edge-padding/2 $block-edge-padding;

	transition: 0.75s all;

	&:hover {
		.remove-semester {
			display: inline-block;
		}
	}
}

.semester-title {
	margin-bottom: 0.5em;
	font-size: 0.85em;

	cursor: move;
	@extend %no-select;

	h1 {
		display: inline-block;
	}
	& > * {
		vertical-align: top;
	}
}

.info-bar {
	@extend %list-inline;

	li {
		&::before { content: " – "; }

		@include font-feature-settings('onum');

		border-radius: 3px;

		color: $gray;

		padding-left: 0.25em;
		padding-right: 0.25em;
	}
}

.semester-course-count {}

.semester.invalid .semester-title {
	color: $orange;
}

.semester.invalid .info-bar i {
	color: $orange;
	opacity: 0.9;
}

.add-semester {
	@extend %add-button;
	@extend %block;

	width: 32px;
	font-size: 1.25em;
	margin-top: 2px;
	margin-bottom: 2px;
}

.remove-semester {
	@extend %remove-button;
	display: none;
	border-radius: 50px;
	margin: 0;

	float: right;
}

.course-list {
	min-height: 30px;
}
