$semester-divider: solid 1px $border-bottom-color;

.semester-list {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
}

.semester {
	@include block;
	flex: 1 0 15em;
	margin: 2px;

	padding: $block-edge-padding/2 $block-edge-padding;
}

.semester.can-drop {
	box-shadow: 0 0 0 1px rgba($gray, 0.5);
}
.semester.is-over {
	box-shadow: 0 0 0 2px $green;
}

.semester-title {
	margin-bottom: 0.5em;
	font-size: 0.85em;

	// cursor: move;
	// @include no-select;

	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	font-feature-settings: 'smcp';

	h1 {
		display: inline-block;
		@include heading-neutral;
	}
	& > * {
		vertical-align: top;
	}
}

.info-bar {
	@include list-inline;
	flex: 1;

	li {
		&::before { content: " – "; }

		font-feature-settings: 'onum';

		color: $gray;

		padding-left: 0.25em;
		padding-right: 0.25em;
	}
}

.semester-course-count {}

.semester.invalid .semester-title {
	color: $orange;
}

.semester.invalid .info-bar i {
	color: $orange;
	opacity: 0.9;
}

.add-semester {
	@include add-button;
	@include block;

	flex-basis: 32px;
	font-size: 1.25em;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
}

.remove-semester {
	@include remove-button;
	margin: 0;
	padding: 0 2px 0 0;

	opacity: 0;

	.semester:hover & {
		opacity: 1;

		&:hover {opacity: 1;}
	}
}

.course-list {
	min-height: 30px;
}
