#student-summary {
	@include card;
	hyphens: auto;
	font-feature-settings: 'onum';

	&.cannot-graduate .graduation-message {
		color: color('deep-orange');
	}
	&.can-graduate .graduation-message {
		color: color('green');
	}

	.content {
		padding: $block-edge-padding * 2;
		p {
			margin: 0;
		}

		p + p {
			margin-top: $block-edge-padding * 2;
		}
	}

	header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;

		color: $black;
		p {
			margin: 0;
			font-style: italic;
		}
	}
}

#student-letter {
	@include avatar-letter(48px);
	background-color: white;
	border: solid 1px;

	margin: $block-edge-padding $block-edge-padding*2;
	margin-left: -6px;

	.cannot-graduate & {
		color: color('deep-orange');
	}

	.can-graduate & {
		color: color('green');
	}
}
