#student-summary {
	@include card;
	overflow: hidden;
	hyphens: auto;
	font-feature-settings: 'onum';

	$padding: $block-edge-padding * 2;

	&.cannot-graduate .graduation-message {
		color: color('deep-orange', '900');
	}
	&.can-graduate .graduation-message {
		color: color('green', '900');
	}

	.content {
		padding: $padding;
		p {
			margin: 0;
		}

		p + p {
			margin-top: $padding;
		}
	}

	header {
		display: flex;
		flex-flow: row nowrap;
		align-items: baseline;
		justify-content: flex-start;

		padding: $padding;
		color: $white;
		p {
			margin: 0;
			font-style: italic;
		}
	}

	&.cannot-graduate header {
		background-color: color('deep-orange');
	}
	&.can-graduate header {
		background-color: color('deep-orange');
	}
}

#student-letter {
	@include avatar-letter(32px);
	box-shadow: 0 0 0 1px currentColor, 0 0 0 1px white;
	background-color: $white;
	// margin-right: $padding;
	margin-bottom: 1px;

	.cannot-graduate & {
		color: color('deep-orange');
	}

	.can-graduate & {
		color: color('green');
	}
}
