.student-list {
	@include list-inline;
}

.student-list > li {
	transform-origin: 50% 50%;
	transition: 0.15s;

	&:nth-child(odd):hover  { transform: rotate(-2deg); }
	&:nth-child(even):hover { transform: rotate(2deg);  }

	& + li {
		margin-left: 1em;
	}
}

.student-list--student {
	@include alt-button;
	@include link-undecorated;
	display: inline-block;

	padding: 0.5em 1em;

	&:hover {
		text-decoration: underline;
	}
}
