#student-summary {
	@include card;
	padding: $block-edge-padding $block-edge-padding*2 $block-edge-padding*2;

	hyphens: auto;
	font-feature-settings: 'onum';

	p {
		margin: $block-edge-padding 0;
	}

	&.cannot-graduate .graduation-message {
		color: $orange;
	}
	&.can-graduate .graduation-message {
		color: $green;
	}

	p + p {
		clear: left;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

#student-letter {
	@include avatar-letter(48px);
	border: 1px solid;
	background-color: inherit;
	float: left;
	margin-right: $block-edge-padding*2;
	margin-bottom: $block-edge-padding;
	margin-top: -14px;
	margin-left: -20px;

	.cannot-graduate & {
		color: $orange;
	}
	.can-graduate & {
		color: $green;
	}

	& + p {
		font-style: italic;
	}
}
