$year-title-size: 2em;
$year-title-width: $year-title-size * 0.75; // no, I don't know why this is 0.75.

.add-year {
	@include add-button;
	@include block;

	width: calc(100% - #{$year-title-width});
	font-size: 1.25em;
	margin-left: $year-title-width;
}

.remove-year {
	@include remove-button;

	position: absolute;
	left: 0;
	bottom: 2px;

	width: 100%;
	height: 28px;

	opacity: 0;
}

.year:hover .remove-year {
	opacity: 0.5;

	&:hover {opacity: 1;}
}

.year {
	margin-bottom: $page-edge-padding;

	display: flex;
	flex-flow: row nowrap;

	// Make sure to give the year title breathing room
	min-height: 105px;
}

.year-title {
	@include no-select;

	position: relative;

	h1 {
		@include heading-neutral;
		width: $year-title-size;
		transform: translateY(1em) rotate(90deg);
		white-space: nowrap;
	}

	font-feature-settings: "tnum";

	line-height: 1em;
	font-weight: 200;
	font-size: 0.9em;

	&:hover .remove-year {
		opacity: 1;
	}
}
