* {
	box-sizing: border-box;
}

.search {
	font-family: Fira Sans;

	width: 350px;
	height: 90vh;

	border: solid 1px #ababab;
	box-shadow: 0 1px 2px #aaa;

	padding: 6px;
}

.searchbox {
	-webkit-appearance: textfield;

	width: 100%;
	margin: 0;
}

.computed {
	display: block;
	// background-color: #efefef;

	font-size: 0.85em;

	margin-top: 6px;
	margin-bottom: 6px;

	padding: 6px;

	cursor: default;

	line-height: 2em;
}

.token-group {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);

	border-radius: 25px / 50px;

	border-style: solid;
	border-color: #999;

	border-top-width: 0;
	border-right-width: 3px;
	border-bottom-width: 0;
	border-left-width: 3px;

	padding: 4px 10px;
}

.token-boolean {
	margin: 0 0.5em;
	font-weight: 600;
}

.token-key, .token-value {
	padding-top: 1px;
}

.token-key {
	color: white;
	text-shadow: 0 -1px #888;
	background-color: #94b4d2;
	text-transform: uppercase;
	text-rendering: auto;
	margin-right: 2px;

	padding-left: 8px;
	padding-right: 6px;

	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
}

.token-value {
	background-color: #d5dde5;

	padding-left: 6px;
	padding-right: 8px;

	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
}

.token {
	white-space: nowrap;
}
