@import '../../../base/variables';
@import '../../../mixins/color';

.student-wizard {
	$inner-padding: 20px;
	$outer-margin: 40px;

	margin: $outer-margin auto;

	max-width: 30em;
	width: 100%;

	border: 1px solid #ccc;
	background: #fff;

	overflow: auto;
	-webkit-overflow-scrolling: touch;

	border-radius: 4px;
	outline: none;
	padding: $inner-padding;

	transition: all 0.5s;

	.introduction {
		text-align: center;
		width: 75%;
		margin: 0 auto;
	}

	.title {
		font-size: 2em;
		font-weight: 300;
		margin: 0;
	}

	.subtitle {
		font-size: 1.25em;
		font-weight: 300;
		margin-top: 0;
	}

	.button--raised {
		background-color: color('gray', '100');
		&:hover {
			background-color: color('white', '50');
		}
	}

	.button-container {
		text-align: center;
		.list-item + .list-item {
			margin-top: 0.5em;
		}
	}
}

.student-wizard-can-drop {
	border-color: $text-color;
}
