@import '../../../base/variables';
@import '../../../mixins/color';
@import '../../../mixins/card';

.new-student {
	@include card;
	$inner-padding: 20px;
	$outer-margin: 40px;

	margin: $outer-margin auto;

	max-width: 40em;
	width: 100%;

	padding: $inner-padding;

	.introduction {
		text-align: center;
		width: 75%;
		margin: 0 auto;
	}
}

.dropzone-active {
	background-color: lime;
}

.new-student .header {
	text-align: center;

	h1 {
		font-weight: 400;
	}
	h2 {
		font-weight: 300;
	}
}

.new-student .choices {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	button {
		margin-bottom: 1em;
	}
}
