@import '../../../base/variables';

.student {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	@media all and (max-width: $single-column-width) {
		flex-flow: column nowrap;
	}
}

.student > .content {
	flex: 1;

	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;

	// @media all and (min-width: $single-column-width) {
	// 	margin-left: $sidebar-width + $page-edge-padding;
	// }
}
