@import '../../../base/variables';

.student {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	@media all and (max-width: $single-column-width) {
		flex-flow: column nowrap;
	}
}
