@import '../base/variables';
@import '../mixins/color';
@import '../mixins/heading-neutral';

.area-of-study-group {
	margin-top: 1em;
}

.area-type-heading {
	@include heading-neutral;

	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.15em;
	margin-left: 0.25em;
	font-feature-settings: 'smcp';

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    // justify-content: flex-start;
}


.add-area-of-study {
	text-decoration: underline;

	padding: 0.25em ($block-edge-padding * 1.5);
	margin-left: 0.5em;

	text-transform: lowercase;

	color: color('gray', '700');
}
