@import '../base/variables';
@import '../mixins/card';

.add-area {
	@include card;
	padding: $area-edge-padding;

	& > .toolbar {
		margin-bottom: $area-edge-padding;
	}
}

.close-area-picker.button {
	margin-left: 0.5em;
	padding: 0.25em 1em;
	flex: 0 1 auto;
}

.add-area--filter {
	flex: 1;
}

.area--choice {
	display: flex;

	justify-content: space-between;
	align-items: center;

	& + .area--choice {
		margin-top: 0.5em;
	}
}
.area-listing {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}
.area-listing .title {
	font-weight: 500;
}
.area-listing .revision {
	font-size: 0.8em;
}

.toggle-area {
	padding: 0.25em 1em;
}
