%button {
	cursor: pointer;

	display: inline-block;
	min-height: 3ex;

	padding: 1ex 2em;
	border: solid 1px transparent;

	transition: all .2s ease-out;
	border-radius: $base-border-radius;
	line-height: normal;

	text-align: center;
	text-transform: uppercase;

	outline: 0;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;

	a {
		@include link-undecorated;
	}
}

// Raised Button
.button--raised {
	@extend %button;

	background-color: color('white', '500');
	color: color('black', '500');

	@include material-shadow(1);

	&:hover,
	&:focus {
		background-color: color('white', '600');
	}
	&:focus {
		background-color: color('blue', '50');
		border-color: color('blue', '300') 2px solid;
	}

	&:active {
		@include material-shadow(2);
		background-color: color('white', '700');
	}

	&[disabled] {
		@include material-shadow(0);
		cursor: default;
		background-color: color('disabled', 'background--light');
		color: color('disabled', 'foreground--light');
	}
}

// Flat button
.button--flat {
	@extend %button;

	background-color: transparent;

	&:hover {
		background-color: rgba(#999, 0.20);
	}

	&:focus {
		background-color: color('blue', '50');
		border-color: color('blue', '300');
	}

	&[disabled] {
		cursor: default;
		color: color('disabled', 'foreground--light');

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
		}
	}
}
