// Flat button
@mixin button--flat($color: 'black', $dark: false) {
	@include button;

	color: color($color, '500');
	background-color: transparent;

	&:hover,
	&:focus {
		@if $dark {
			background-color: rgba(#ccc, 0.15);
		}
		@else {
			background-color: rgba(#999, 0.20);
		}
	}

	&:active {
		@if $dark {
			background-color: rgba(#ccc, 0.25);
		}
		@else {
			background-color: rgba(#999, 0.40);
		}
	}

	&[disabled] {
		cursor: default;
		$accent: if($dark, 'dark', 'light');
		color: color('disabled', 'foreground--#{$accent}');

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
		}
	}
}

.button--flat {
	@include button--flat;
}
