@import '../base/variables';
@import '../mixins/color';
@import '../mixins/link-undecorated';
@import '../mixins/material-shadow';

%button {
	cursor: pointer;

	min-height: 3ex;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	padding: 1ex 2em;
	border: solid 1px transparent;

	transition: all .2s ease-out;
	border-radius: $base-border-radius;
	line-height: normal;

	text-align: center;
	text-transform: uppercase;

	outline: 0;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;

	a {
		@include link-undecorated;
	}
}

// Raised Button
.button--raised {
	@extend %button;

	background-color: color('white', '500');
	color: color('black', '500');

	@include material-shadow;

	&:hover,
	&:focus {
		background-color: color('white', '600');
	}
	&:focus {
		background-color: color('blue', '50');
		border-color: color('blue', '300') 2px solid;
	}

	&:active {
		@include material-shadow;
		background-color: color('white', '700');
	}

	&[disabled] {
		cursor: default;
		color: color('gray', '500');
	}
}

// Flat button
.button--flat {
	@extend %button;

	background-color: transparent;

	&:hover {
		background-color: color('gray', '100');
		border-color: color('gray', '400');
	}

	&:focus {
		background-color: color('blue', '50');
		border-color: color('blue', '300');
	}

	&[disabled] {
		cursor: default;
		color: color('disabled', 'foreground--light');

		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
			background-color: transparent;
		}
	}
}
