@import 'src/styles/variables.css';
@import 'src/styles/mixins.css';

:root {
	--button {
		cursor: pointer;

		min-height: 3ex;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		/* display: inline-flex collapses inline whitespace
		 * white-space: pre brings it back, although it will
		 * also show newlines, so be careful.
		 */
		white-space: pre;

		padding: 1ex 2em;
		border: solid 1px transparent;

		transition: all .2s ease-out;
		border-radius: var(--base-border-radius);
		line-height: normal;

		text-align: center;
		text-transform: uppercase;

		outline: 0;
		color: currentColor;

		/* Turn off default button styles in webkit */
		-webkit-appearance: initial !important; /* override normalize's html [type=button] */
		/* Gets rid of tap active state */
		-webkit-tap-highlight-color: transparent;
	}
}

/* Raised Button */
.button--raised {
	@apply --button;
	@apply --material-shadow;

	background-color: var(--white);

	&:hover {
		background-color: var(--white);
	}
	&:focus {
		background-color: var(--blue-50);
		border-color: var(--blue-300);
	}

	&:active {
		@apply --material-shadow;
		background-color: var(--white);
	}

	&[disabled] {
		cursor: default;
		color: var(--gray-500);
	}
}

/* Flat button */
.button--flat {
	@apply --button;

	background-color: transparent;

	&:hover {
		background-color: var(--gray-100);
		border-color: var(--gray-400);
	}

	&:focus {
		background-color: var(--blue-50);
		border-color: var(--blue-300);
	}

	&:disabled {
		cursor: default;
		color: var(--disabled-foreground--light);

		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
			background-color: transparent;
		}
	}
}

a.button {
	@apply --link-undecorated;
}
