@import '../base/variables';
@import '../mixins/color';
@import '../mixins/list-inline';

.course {
	.warnings {
		font-size: 0.85em;
		font-feature-settings: 'onum';
		padding-bottom: 2px;
	}

	.warnings .list-item {
		padding: 0.125em 0.35em;
		border-radius: 0.25em;
		background-color: color('amber', '500');
	}
	.warnings .list-item::before {
		margin-right: 0.35em;
	}

	.title,
	.summary {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: grab;
	}

	.title {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.2;
		padding: 0 0 1px;
		font-size: 1em;
		font-weight: 500;
		font-family: $heading-font-stack;
	}

	.title,
	.details {
		font-feature-settings: 'onum';
	}

	.summary {
		font-size: 0.75em;
		& > * + *::before {
			content: " · ";
		}
	}

	.identifier {
		font-feature-settings: 'tnum';
	}

	p,
	ul {
		margin: 0;
	}

	.offerings > span {
		display: block;
	}

	.gereqs {
		@include list-inline;
		display: inline;
		li {
			display: inline;
		}
		li + li::before {
			content: " · ";
		}
	}

	.tools {
		border-top: $material-divider;
		margin-top: 0.5em;
		padding-top: 0.5em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.remove-course {
		color: color('red', '500');
		padding-left: 0.5em;
		padding-right: 0.5em;
		font-size: 0.85em;
		&:hover {
			background-color: color('red', '50');
			border-color: color('red', '500');
		}
	}
	.remove-course[disabled] {
		color: color('gray', '500');
		&:hover {
			background-color: transparent;
			border-color: transparent;
		}
	}

	.offerings {
		margin-bottom: 0.5em;
	}

	.info-wrapper {
		display: flex;
		.info-rows {
			flex: 1;
			overflow: hidden;
		}
	}

	.info-rows {
		line-height: 1.5;
	}

	.show-info {
		display: none;
	}

	&:hover .show-info,
	&.expanded .show-info {
		display: block;
		&:focus {
			color: color('blue', '400');
		}
		padding: 0 0.5em;
	}

	dl {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	dt {
		font-weight: 500;
		font-feature-settings: 'smcp';
	}
	dd + dt {
		margin-top: 1em;
	}
	dd {
		margin-left: 0;
	}
}

.course.expanded {
	color: $text-color;

	.title {
		overflow: visible;
		white-space: normal;
	}

	.details {
		font-size: 0.85em;
	}

	.summary {
		white-space: normal;
	}
}

.course.empty {
	color: color('gray', '500');
	user-select: none;

	* {
		cursor: default;
	}
}

.course.is-dragging {
	opacity: 0.5;
}
