@import '../base/variables';
@import '../mixins/color';

.course-removal-box {
	padding: 5em 1em;
	color: $gray-500;
	background-color: white;
	border-radius: 5px;

	position: fixed;
	top: $page-edge-padding * 2;
	left: $page-edge-padding * 2;
	max-width: 240px;

	display: none;
	box-shadow: 0 0 10px #444;

	&.can-drop {
		color: black;
		display: flex;
		z-index: $z-sidebar + 1;
	}

	&.is-over {
		box-shadow: 0 0 10px $red-900;
		color: $red-900;
		background-color: $red-50;
	}
}
