@import 'src/styles/variables.css';
@import 'src/styles/mixins.css';

.course-search {
	.course-group {
		@apply --card;
		padding: 0.5em;

		margin-top: 1em;
	}

	.term-list,
	.course-list {
		@apply --list-unstyled;
	}

	.course-list > li + li {
		margin-top: 0.5em;
	}

	.loading,
	.no-results {
		margin-top: 1em;
		text-align: center;
		color: var(--gray-500);
		font-size: 0.9em;
	}

	.course-group-title {
		font-weight: 500;
		text-align: center;
		display: block;

		margin-top: 0.25em;
		margin-bottom: 0.5em;
	}
}

.search-box {
	border: 0;
	border-bottom: var(--material-divider);

	flex: 1;
	box-sizing: inherit;

	padding: 0.75em 1em;
	padding-right: 0.5em;
	font-size: 0.9em;

	&:focus, &:hover {
		outline: none;
	}
	&:hover {
		background-color: var(--gray-100);
	}
	&:focus {
		background-color: var(--blue-50);
		color: var(--blue-900);
		&::-webkit-input-placeholder {
			color: color(var(--light-blue-300) saturation(-75%));
		}
	}
}

.sidebar-heading .button {
	border: 0;
	border-radius: 0;

	color: var(--gray);
	transition: 0.15s;
}

.sidebar-heading {
	@include card;
	padding: 0;
	margin-bottom: 0.5em;
}

.submit-search-query {
	font-size: 0.8em;
	padding: 1em 1em;
	flex: 1;
}
.submit-search-query:hover,
.submit-search-query:focus {
	color: var(--green);
	background-color: var(--green-50);
}
.submit-search-query:disabled {
	color: var(--gray);
	background-color: white;
}

.sidebar-heading .row {
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: stretch;
}

.sidebar-heading h2 {
	font-size: 0.8em;
	font-weight: 500;
	margin: 0;
	padding: 0.5em 0 0.3em 1em;
	text-align: left;
	text-transform: uppercase;
	flex: 1;
	cursor: default;
}

.close-sidebar {
	font-size: 0.8em;
	padding: 0.4em 1em;
	flex: 0 1 auto;
}

.search-filters {
	border-top: var(--material-divider);
	padding: 0.35em 1em 0.75em;

	display: flex;
	flex-flow: row nowrap;
}

.search-filters .filter {
	flex: 1;
	text-align: center;
}

.search-filters label {
	font-size: 0.9em;
	font-weight: 500;
}
