@import '../base/variables';
@import '../mixins/color';

.course-removal-box {
	padding: 5em 1em;
	color: color('gray', '500');
	border: 1px dashed currentColor;
	background-color: white;
	border-radius: 2px;

	position: fixed;
	top: $page-edge-padding;
	left: $page-edge-padding;
	max-width: 270px;

	display: none;
	box-shadow: 0 0 10px #444;

	&.can-drop {
		color: black;
		display: flex;
		z-index: $z-sidebar + 1;
	}

	&.is-over {
		box-shadow: 0 0 10px color('red', '900');
		color: color('red', '900');
		background-color: color('red', '50');
	}
}
