@import '../base/variables';
@import '../mixins/color';
@import '../mixins/list-inline';

.course {
	.warnings {
		font-size: 0.85em;
		font-feature-settings: 'onum';
		padding-bottom: 2px;
	}

	.warnings .list-item {
		padding: 0.125em 0.35em;
		border-radius: 0.25em;
		background-color: color('amber', '500');
	}
	.warnings .list-item::before {
		margin-right: 0.35em;
	}

	.title,
	.subtitle,
	.summary {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.title,
	.subtitle, {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.2;
		padding: 0 0 1px;
		font-size: 1em;
		font-weight: 500;
		font-family: $heading-font-stack;
	}

	.subtitle {
		font-size: 0.75em;
	}

	.title,
	.details {
		font-feature-settings: 'onum';
	}

	.summary > * + *::before {
		content: " · ";
	}

	.identifier {
		font-feature-settings: 'tnum';
	}

	p,
	ul {
		margin: 0;
	}

	.offerings > span {
		display: block;
	}

	.gereqs {
		@include list-inline;
		display: inline;
		li {
			display: inline;
		}
		li + li::before {
			content: " · ";
		}
	}

	.tools {
		border-top: $material-divider;
		margin-top: 0.5em;
		padding-top: 0.5em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.remove-course {
		color: color('red', '500');
		padding-left: 0.5em;
		padding-right: 0.5em;
		font-size: 0.85em;
		&:hover {
			background-color: color('red', '50');
			border-color: color('red', '500');
		}
	}
	.remove-course[disabled] {
		color: color('gray', '500');
		&:hover {
			background-color: transparent;
			border-color: transparent;
		}
	}

	.offerings {
		margin-bottom: 0.5em;
	}



	.info-rows {
		flex: 1;
		overflow: hidden;
		line-height: 1.5;
	}
}

.course.empty {
	color: color('gray', '500');
	user-select: none;

	* {
		cursor: default;
	}
}

.course.is-dragging {
	opacity: 0.5;
}

.course--inline {
	cursor: pointer;
	display: flex;

	.summary {
		font-size: 0.75em;
	}
}

.course--modal {
	display: flex;
	flex-flow: column;

	.content {
		flex: 1;
		display: flex;
		flex-flow: column;
	}

	.details {
		flex: 1;
	}

	.title,
	.subtitle {
		overflow: visible;
		white-space: normal;
	}

	.summary {
		white-space: normal;
	}

	.title {
		font-size: 1.5em;
	}
}

.course--modal {
	$inner-padding: 20px;
	$outer-margin: 40px;

	margin-top: $outer-margin;
	margin-left: $outer-margin;
	margin-right: $outer-margin;
	margin-bottom: $outer-margin;

	max-height: 90vh;
	max-width: 45em;

	border: 1px solid #ccc;
	background: #fff;

	overflow: auto;
	-webkit-overflow-scrolling: touch;

	border-radius: 4px;
	outline: none;
	padding: $inner-padding;

	.columns {
		display: flex;
		flex-flow: row nowrap;

		@media screen and (max-width: 45em) {
			flex-flow: column;
		}
	}
	.column {
		flex: 1;
	}
	.column + .column {
		margin-left: 1em;
	}

	h2 {
		font-weight: 500;
		font-feature-settings: 'smcp';
		font-size: 1em;
		margin-bottom: 0;
	}

	.description {
		hyphens: auto;
	}

	.window-tools {
		margin-top: -$inner-padding;
		margin-right: -$inner-padding;
		justify-content: flex-end;

		font-size: 0.85em;
	}

	.close-modal {
		flex: 0 1 auto;
		padding-left: 2em;
		padding-right: 2em;

		font-size: 0.9em;

		border-top: 0;
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 0;
	}
}
