@import '../mixins/card';
@import '../mixins/color';
@import '../base/variables.scss';

.expression {
	display: inline-block;
}

.expression--contents {
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.expression--description {
	text-align: center;
	display: inline;
	margin: 0;
}

.expression--description:not(:only-child) {
	display: block;
	width: 100%;
	margin-top: 0.35em;
	margin-bottom: 0.35em;
}

.expression .expression {
	margin: 0.1em;
}

.expression.computed--not {
	color: color('gray', '500');
}

.expression .joiner {
	text-align: center;
	margin-left: 0.75em;
	margin-right: 0.75em;

	word-wrap: break-word;
	width: 1em;
	line-height: 0.9em;
	font-size: 0.5em;
	font-weight: bold;
}

.expression--course,
.expression--modifier,
.expression--reference {
	@include card;
	padding: 0.125em 0.25em;

	&.computed::after {
		font-family: monospace;
		margin-left: 0.4em;
		display: inline-block;
	}

	&.computed.computed-success {
		background-color: $computed-success-background;
	}
	&.computed.computed-success::after {
		content: '✓';
		color: $computed-success-color;
	}

	&.computed.computed-failure::after {
		content: '×';
		color: $computed-failure-color;
		font-weight: bold;
	}
}
