@import '../base/variables.scss';
@import '../mixins/color.scss';
@import '../mixins/list-inline.scss';


:local(.course) p,
:local(.course) ul {
	margin: 0;
}

:local(.course) {
	display: block;

	&:hover {
		cursor: pointer;
		background-color: color('gray', '100');
	}
}

:local(.summary) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.75em;

	& > * + *::before {
		content: " · ";
	}
}


:local(.identifier) {
	font-feature-settings: 'tnum';
}

:local(.row) {
	overflow: hidden;
	line-height: 1.5;
}

:local(.gereqs) {
	@include list-inline;
	display: inline;
	li {
		display: inline;
	}
	li + li::before {
		content: " · ";
	}
}

:local(.warnings) {
	font-size: 0.85em;
	font-feature-settings: 'onum';
	padding-bottom: 2px;

	:global(.list-item) {
		padding: 0.125em 0.35em;
		border-radius: 0.25em;
		background-color: color('amber', '500');
	}
	:global(.list-item)::before {
		margin-right: 0.35em;
	}
}

:local(.isDragging) {
	opacity: 0.5;
}
