.list--number {}
.list--bullet {}

:root {
	--plain-list: {
		margin: 0;
		padding: 0;
		list-style: none;
	};
}

.list--plain {
	@apply --plain-list;
}

.list--inline {
	@apply --plain-list;
	display: inline-block;

	& > .list-item {
		display: inline-block;
	}
}
