@import '../base/variables';
@import '../mixins/card';

.course--modal {
	display: flex;
	flex-flow: column;

	.content {
		flex: 1;
		display: flex;
		flex-flow: column;
	}

	.details {
		flex: 1;
	}

	.title,
	.subtitle {
		overflow: visible;
		white-space: normal;
	}

	.summary {
		white-space: normal;
	}

	.title {
		font-size: 1.5em;
		font-weight: 300;
		text-align: center;
	}

	.details {
		font-feature-settings: 'onum';
	}

	.tools {
		border-top: $material-divider;
		margin-top: 0.5em;
		padding-top: 0.5em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.remove-course {
		color: color('red', '500');
		padding-left: 0.5em;
		padding-right: 0.5em;
		font-size: 0.85em;
		&:hover {
			background-color: color('red', '50');
			border-color: color('red', '500');
		}
	}
	.remove-course[disabled] {
		color: color('gray', '500');
		&:hover {
			background-color: transparent;
			border-color: transparent;
		}
	}

	.offerings {
		margin-bottom: 0.5em;
	}

	.offerings > span {
		display: block;
	}
}

.course--modal {
	@include card;

	.info-wrapper,
	.columns,
	.tools {
		padding: 0 20px;
	}

	max-width: 45em;

	.columns {
		display: flex;
		flex-flow: row nowrap;

		@media screen and (max-width: 45em) {
			flex-flow: column;
		}
	}
	.column {
		flex: 1;
	}
	.column + .column {
		margin-left: 1em;
	}

	h2 {
		font-weight: 500;
		font-feature-settings: 'smcp';
		font-size: 1em;
		margin-bottom: 0;
	}

	.description {
		hyphens: auto;
	}
}
