@import '../base/variables';
@import '../mixins/card';

.course--modal {
	display: flex;
	flex-flow: column;

	.content {
		flex: 1;
		display: flex;
		flex-flow: column;
	}

	.details {
		flex: 1;
	}

	.title,
	.subtitle {
		overflow: visible;
		white-space: normal;
	}

	.summary {
		white-space: normal;
	}

	.title {
		font-size: 1.5em;
		font-weight: 300;
		text-align: center;
	}
}

.course--modal {
	@include card;

	$outer-margin: 40px;
	.info-wrapper,
	.columns,
	.tools {
		padding: 0 20px;
	}

	margin-top: $outer-margin;
	margin-bottom: $outer-margin;

	max-width: 45em;

	.columns {
		display: flex;
		flex-flow: row nowrap;

		@media screen and (max-width: 45em) {
			flex-flow: column;
		}
	}
	.column {
		flex: 1;
	}
	.column + .column {
		margin-left: 1em;
	}

	h2 {
		font-weight: 500;
		font-feature-settings: 'smcp';
		font-size: 1em;
		margin-bottom: 0;
	}

	.description {
		hyphens: auto;
	}
}
