@import '../mixins/card';

.modal--content {
	@include card;

	position: absolute;
	top: 1vh;
	left: 10vw;
	right: 10vw;

	padding: 0.5em 1em;
}

.modal--backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: auto;
}
