@import '../base/variables';
@import '../mixins/color';
@import '../mixins/material-shadow';

.notification-capsule {
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	background: $black;
	color: #f1f1f1;

	font-size: 0.9em;

	min-height: 46px;
	min-width: 288px;
	max-width: 350px;

	padding: 0.9em;

	box-shadow: 0 2px 6px color('gray', '700');
	border-radius: 2px;

	& + & {
		margin-top: 1em;
	}
}

.notification-message {
	font-weight: 500;
	font-size: 1em;
	margin: 0;
}

.notification-content {
	flex: 1;
}

.notification-type--message {

}

.notification-type--error {
	background: color('red');
	color: $white;

	.close-notification:hover {
		border-color: color('red', '900');
		color: color('red', '900');
	}
}

.notification-type--progress {
	.progress-container {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	.progress-bar {
		flex: 1;
		height: 10px;
		overflow: hidden;
		border: solid 1px color('gray', '300');
		background-color: transparent;
		color: color('gray', '300');
	}
	output {
		color: color('gray', '300');
		margin-left: 0.5em;
	}
}

.close-notification {
	margin-left: 0.9em;
	padding: 2px 6px 1px;

	&:hover {
		background-color: transparentize(color('white'), 0.15);
		color: color('black', '500');
	}
}
