@import '../styles/variables.scss';

.progress-bar {
    border: 1px solid currentColor;
    border-radius: $base-border-radius;
    background-color: white;

    .progress-bar--value {
        background-color: currentColor;
        max-width: 100%;
    }

    color: $gray-300;
    &.hundred   { color: $green-300; }
    &.ninety    { color: $orange-300; }
    &.eighty    { color: $orange-300; }
    &.seventy   { color: $orange-300; }
    &.sixty     { color: $yellow-700; }
    &.fifty     { color: $yellow-600; }
    &.forty     { color: $yellow-600; }
    &.thirty    { color: $amber-500; }
    &.twenty    { color: $red-300; }
    &.ten       { color: $red-300; }
    &.under-ten { color: $red-300; }
}
