@mixin progress-bar($color, $bg: transparent, $gradient: null) {
	@if $gradient == null {
		$gradient: $color;
	}

	& {
		color: $color;
		background: $bg;

		@content;
	}

	&::-moz-progress-bar      { background: $gradient; }
	&::-webkit-progress-value { background: $gradient; }
	&::-webkit-progress-bar   { background: $bg; }
}

@mixin progress-track($color) {
	$bg: white;
	@if type-of($color) == 'string' {
		$color: color($color, '300');
	}

	@include progress-bar($color: $color, $bg: $bg);
	& {
		border: 1px solid $color;
	}
}
