@import 'src/styles/variables.css';

.progress-bar {
    border: 1px solid currentColor;
    border-radius: var(--base-border-radius);
    background-color: white;

    .progress-bar--value {
        background-color: currentColor;
        max-width: 100%;
    }

    color: var(--gray-300);
    &.hundred   { color: var(--green-300); }
    &.ninety    { color: var(--orange-300); }
    &.eighty    { color: var(--orange-300); }
    &.seventy   { color: var(--orange-300); }
    &.sixty     { color: var(--yellow-700); }
    &.fifty     { color: var(--yellow-600); }
    &.forty     { color: var(--yellow-600); }
    &.thirty    { color: var(--amber-500); }
    &.twenty    { color: var(--red-300); }
    &.ten       { color: var(--red-300); }
    &.under-ten { color: var(--red-300); }
}
