$edge-padding: 0.5em;

.requirement {
	@include card;
	margin: 0 0.25em 0.25em 0.5em;
}

.requirement .requirement .requirement {
	// margin: 0 0 0 0.5em;
	// border-left: 0.125em black solid;
}

.requirement--result {
	padding-left: 0.25em;
	padding-right: 0.25em;

	display: flex;
	justify-content: center;
}

.requirement .requirement .requirement .requirement--result,
.requirement .requirement .requirement .requirement--title,
.requirement .requirement .requirement .requirement--message,
.requirement .requirement .requirement .requirement--filter {
	padding-left: $edge-padding;
}

.requirement--title {
	font-size: 1em;
	font-weight: normal;

	border-bottom: $material-divider;
	padding: 0.2em 0.15em;
}

.requirement .requirement .requirement--title {
	text-align: center;
	font-weight: bold;

	font-size: 0.8em;
	margin: 0;
}

.requirement .requirement .requirement .requirement--title {
	text-align: left;
	font-weight: normal;
}

.requirement--title,
.requirement--result,
.requirement--message,
.requirement--filter,
.requirement--override-buttons {
	width: 100%;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.requirement--message {
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: $edge-padding;
	padding-right: $edge-padding;
}

.requirement .requirement .requirement .requirement--message {
	// padding-left: 0;
}

.requirement--override-buttons {
	display: flex;
	justify-content: space-around;

	button {
		cursor: pointer;
		flex: 1;
		max-width: 25%;
		border: solid 1px currentColor;
		background-color: #efefef;
	}
	button:active {
		background-color: #dadada;
	}
}
