@import '../mixins/card';
@import '../base/variables.scss';

.requirement {
	margin: 0.25em 0.25em 0.25em 0.5em;
	box-sizing: border-box;
}

.requirement + .requirement {
	margin-top: 0.75em;
}

.requirement:last-child {
	margin-bottom: 0.5em;
}

.requirement .requirement {
	@include card;
}

.requirement--override-button {
	padding: 0.25em 0.85em;
	margin-left: 0.5em;
}

.requirement--result {
	padding-left: 0.25em;
	padding-right: 0.25em;

	display: flex;
	justify-content: center;
}

.requirement .requirement .requirement .requirement--result,
.requirement .requirement .requirement .requirement--title,
.requirement .requirement .requirement .requirement--message,
.requirement .requirement .requirement .requirement--filter {
	padding-left: $area-edge-padding;
}

.requirement--title {
	font-size: 1em;
	font-weight: 500;

	border-bottom: $material-divider;
	padding: 0.2em 0.15em;
}

.requirement--title.computed-success {
	background-color: $computed-success-background;
}

.requirement--title-status {
	margin-right: 0.2em;
}
.requirement--title.computed-success .requirement--title-status {
	color: $computed-success-color;
}

.requirement .requirement .requirement--title {
	text-align: center;

	font-size: 0.9em;
	margin: 0;
}

.requirement .requirement .requirement .requirement--title {
	text-align: left;
}

.requirement--title,
.requirement--result,
.requirement--message,
.requirement--filter,
.requirement--override-buttons {
	width: 100%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.requirement--message {
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: $area-edge-padding;
	padding-right: $area-edge-padding;
}

.requirement .requirement .requirement .requirement--message {
	// padding-left: 0;
}

.requirement--override-buttons {
	display: flex;
	justify-content: space-around;

	.button {
		border: solid 1px currentColor;
	}
}
