@import '../base/variables';
@import '../mixins/card';
@import '../mixins/color';

.requirement {
	margin: 0.25em;
	box-sizing: border-box;
}

.requirement .requirement {
	margin-left: 0.5em;
}

.requirement + .requirement {
	margin-top: 0.75em;
}

.requirement:last-child {
	margin-bottom: 0.5em;
}

.requirement .requirement {
	@include card;
}

.requirement--override-button {
	padding: 0.25em 0.85em;
	margin-left: 0.5em;
	color: color('gray', '500');
}

.requirement--result {
	padding-left: 0.25em;
	padding-right: 0.25em;

	display: flex;
	justify-content: center;
}

.requirement .requirement .requirement .requirement--result,
.requirement .requirement .requirement .requirement--heading,
.requirement .requirement .requirement .requirement--message,
.requirement .requirement .requirement .requirement--filter {
	padding-left: $area-edge-padding;
}

.requirement--heading {
	font-size: 1em;
	font-weight: 500;

	border-bottom: $material-divider;
	padding: 0.2em 0.15em 0.2em 0.7em;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.requirement--title {
	flex: 1;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.requirement--title-override-text {
	font-weight: normal;
}

.requirement--heading.computed-success {
	background-color: $computed-success-background;
}

.requirement--title-status {
	margin-right: 0.2em;
}
.requirement--heading.computed-success .requirement--title-status {
	color: $computed-success-color;
}

.requirement .requirement .requirement--heading {
	font-size: 0.9em;
	margin: 0;
}

.requirement--heading,
.requirement--result,
.requirement--message,
.requirement--filter,
.requirement--override-buttons {
	width: 100%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.requirement--message {
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: $area-edge-padding;
	padding-right: $area-edge-padding;
}

.requirement--message,
.requirement--result > .expression > .expression--description {
	margin-top: 0.5em;
}

.requirement .requirement .requirement .requirement--message {
	// padding-left: 0;
}

.requirement--override-buttons {
	display: flex;
	justify-content: space-around;

	margin-top: 0.25em;

	.button {
		border: solid 1px currentColor;

		margin: 0 0.5em 0.5em;

		& + .button {
			margin-left: 0;
		}
	}
}
