@import '../base/variables';
@import '../mixins/color';
@import '../mixins/link-undecorated';
@import '../mixins/material-shadow';

.student-list-item-container {
	margin-bottom: 1.25em;
}

.student-list-item {
	@include link-undecorated;
	@include material-shadow;
	border-radius: $base-border-radius;

	&.is-selected {
		outline: color('blue', '300') 2px solid;
		background-color: color('blue', '50');
	}

	background-color: white;

	flex: 1;
	display: flex;
	align-items: center;

	max-width: 35em;
	margin: 0 auto;
	padding: 0.5em 0.5em;
	position: relative;

	transition: 0.15s;

	cursor: pointer;
}

.student-list-item:hover,
.student-list-item:focus {
	outline: none;
	background-color: color('blue', '50');
	border-color: color('blue');
}

.student-list-item-info {
	flex: 1;
	margin-left: 0.5em;
}

.student-list-item-info .name {
	line-height: 1.5;
}

.student-list-item-info .areas {
	font-size: 0.8em;
	font-feature-settings: 'smcp';
}

.student-list-item-info .area-type .joiner {
	vertical-align: baseline;
	display: inline-block;

	$joiner-spacing: 0.35em;
	margin-left: $joiner-spacing;
	margin-right: $joiner-spacing;
}

.student-list-item--go {
	margin-left: 0.25em;
	margin-right: 0.5em;
}

.student-list-item-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

.student-list-item-actions {
	flex: 0 1 auto;
	margin-right: 0.5em;
}

.student-list-item-container .delete {
	font-size: 2em;
	padding: 0.25em 0.5em;
}

.student-list-item-container .delete:hover {
	color: white;
	border-color: color('red', '900');
	background-color: color('red', '500');
}
