.student-summary {
	@include card;

	text-align: center;
	hyphens: auto;
	font-feature-settings: 'onum', 'tnum';

	&.cannot-graduate .graduation-message {
		color: color('deep-orange');
	}
	&.can-graduate .graduation-message {
		color: color('light-green');
	}

	.content {
		padding: $block-edge-padding * 2;

		.paragraph {
			margin: 0;
		}

		.paragraph + .paragraph {
			margin-top: $block-edge-padding * 2;
		}
	}

	.student-summary--header {
		color: $black;

		margin: $block-edge-padding * 2;
		margin-bottom: 0;
		font-style: italic;
		line-height: 1.6em;
	}

	.autosize-input {
		border-bottom: 1px solid color('gray', '400');
		padding: 0 0.125em 0 0;

		&:focus {
			outline: 0;
			background-color: color('blue', '50');
			border-color: color('blue', '500');
		}
	}
}
