.toolbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
}

.toolbar .button {
	flex: 1 0 auto;
	padding-left: 0.25em;
	padding-right: 0.25em;

	// margin-bottom: 0.5em;
}

.toolbar .icon {
	font-size: 1.5em;
}
