.area-of-study {
	@extend %block-small;

	h1 {
		padding: $block-edge-padding;
		font-size: inherit;
		font-weight: 300;
		margin: 0;
		z-index: 1;
		position: relative;

		// blink/webkit suddenly started making the <summary>s extra tall
		// margin-top: -22px;
	}

	details {
		position: relative;
	}

	$progress-bar-bg: transparent;
	// $progress-bar-color: $olaf-gold;
	$progress-bar-color: linear-gradient(
		to bottom, 
		$olaf-gradient-start, 
		$olaf-gradient-end
	);
	progress {
		display: block;
		position: absolute;
		top: 0;  bottom: 0;
		left: 0; right: 0;

		width: 100%;
		height: 100%;

		margin: 0;

		vertical-align: middle;
		border: 0;

		color: $progress-bar-color;
		background: $progress-bar-bg;

		border-radius: 3px;
		overflow: hidden;
	}

	progress::-moz-progress-bar      { background: $progress-bar-color; }
	progress::-webkit-progress-value { background: $progress-bar-color; }
	progress::-webkit-progress-bar   { background: $progress-bar-bg; }

	summary::-webkit-details-marker { display: none; }
	summary::-moz-details-marker    { display: none; }
	summary::-ms-details-marker     { display: none; }
	summary::details-marker         { display: none; }

	summary:focus { outline: 2px solid $black; }

	& > details {
		summary::after {
			@include ionicon($ionicon-var-ios7-arrow-down);

			position: absolute;
			top: calc(50% - 6px);
			right: 8px;
		}
	}

	& > details[open] {
		summary::after {
			@include ionicon($ionicon-var-ios7-arrow-left);
		}
	}
}
