.area-of-study {
	@extend %block-small;

	h1 {
		padding: $block-edge-padding;
		font-size: inherit;
		font-weight: 400;
		margin: 0;
		z-index: 1;
		position: relative;

		font-family: $heading-font-stack;
	}

	summary {
		position: relative;
	}

	@include progress-bar(
		$bg: transparent,
		$color: $olaf-gold,
		$gradient: linear-gradient(
			to bottom,
			$olaf-gradient-start,
			$olaf-gradient-end
	)) {
		display: block;
		position: absolute;
		top: 0;  bottom: 0;
		left: 0; right: 0;

		width: 100%;
		height: 100%;

		margin: 0;

		vertical-align: middle;
		border: 0;

		border-radius: 3px;
		overflow: hidden;
	}

	summary::-webkit-details-marker { display: none; }
	summary::-moz-details-marker    { display: none; }
	summary::-ms-details-marker     { display: none; }
	summary::details-marker         { display: none; }

	// summary:focus { outline: 2px solid $black; }

	& > details {
		summary::after {
			@include ionicon($ionicon-var-ios7-plus-empty);

			position: absolute;
			top: 25%;
			right: 8px;
		}
	}

	& > details[open] {
		progress {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			opacity: 0.5;
			height: 5px;
		}
		summary::after {
			@include ionicon($ionicon-var-ios7-minus-empty);
		}
	}
}
