.course {
	.title {
		margin: 0 0 -0.85ex;
		padding: 0;
		font-size: 1em;
		font-weight: 500;
		font-family: $heading-font-stack;
	}
	.details {
		font-size: 0.9em;
	}
	.identifier {
		&::after {
			content: " · ";
		}
	}
}
