.course {
	.title, .details {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 22.5em;
	}

	.title {
		margin: 0 0 -0.65ex;
		padding: 0;
		font-size: 1em;
		font-weight: 500;
		font-family: $heading-font-stack;
	}

	.details {
		display: block;
		font-size: 0.9em;
	}

	.identifier {
		&::after {
			content: " · ";
		}
	}
}
