.course-table {
	-webkit-flex: 1;
	flex: 1;
}

.add-year {
	width: 100%;
	font-size: 1.25em;

	@extend %block;
	@extend %add-button;
}

.remove-year {
	@extend %remove-button;
	display: none;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 28px;
}

.course-table .year {
	margin-bottom: $page-edge-padding;

	display: -webkit-flex;
	-webkit-flex-flow: row nowrap;
	display: flex;
	flex-flow: row nowrap;
}

.course-table .semester-list {
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: flex;
	flex-flow: row wrap;
}

.course-table .year-title, .course-table .semester-title {
	h1, h2 {
		font-size: inherit;
		font-weight: inherit;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.course-table .year-title {
	@extend %no-select;

	width: 2em;
	padding: 0.5em 0.75em;

	h1 {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		white-space: nowrap;
	}

	-webkit-font-feature-settings: "tnum";
	-moz-font-feature-settings: "tnum";
	font-feature-settings: "tnum";

	line-height: 1em;

	font-weight: 200;
	font-size: 0.9em;

	position: relative;

	&:hover {
		.remove-year {
			display: block;
		}
	}
}
