.requirement-set {
	h2 {
		$border-color: rgba(50, 50, 50, 0.25);
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;

		margin: 0;// auto;
		padding-bottom: -0.1em;

		background-color: rgb(240, 240, 240);
		text-transform: uppercase;

		font-size: 0.85em;
		font-family: $heading-font-stack;
		font-weight: 300;

		text-align: center;

		// width: 90%;
	}

	margin-bottom: 0.35em;
}
