$semester-divider: solid 1px $border-bottom-color;

.semester {
	@extend %block;
	-webkit-flex: 1 1 20em;
	flex: 1 1 20em;
	margin: 2px;

	padding: $block-edge-padding/2 $block-edge-padding;

	-webkit-transition: 0.75s all;
	-ms-transition: 0.75s all;
	transition: 0.75s all;


	&:hover {
		.remove-semester {
			display: inline-block;
		}
	}
}

.semester-title {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-bottom: 0.5em;
}

.add-semester {
	@extend %add-button;

	width: 32px;
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 0;
}

.remove-semester {
	@extend %remove-button;
	display: none;
	border-radius: 50px;
}

.course-list {
	min-height: 30px;
}
