$semester-divider: solid 1px $border-bottom-color;

.semester {
	-webkit-flex: 1;
	flex: 1;
	min-width: 200px;

	padding: $block-edge-padding/2 $block-edge-padding;

	border-left: $semester-divider;

	-webkit-transition: 0.75s all;
	-moz-transition: 0.75s all;
	-ms-transition: 0.75s all;
	transition: 0.75s all;

	.semester-title {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&:hover {
		.remove-semester {
			display: inline-block;
		}
	}
}

.add-semester {
	@extend %add-button;
	border-left: $semester-divider;

	width: 32px;
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 0;
}

.remove-semester {
	@extend %remove-button;
	display: none;

	border-radius: 50px;
}
