.semester {
	-webkit-flex: 1;
	flex: 1;

	padding: $block-edge-padding/2 $block-edge-padding;

	border-left: solid 1px #c4c4c4;

	-webkit-transition: 0.75s all;
	-moz-transition: 0.75s all;
	-ms-transition: 0.75s all;
	transition: 0.75s all;

	// &:hover, &:active, &:focus {
	// 	-webkit-flex: 1.1;
	// 	flex: 1.1;
	// }
}

.add-semester {
	@extend %add-button;
	border-left: solid 1px #c4c4c4;

	width: 32px;
	font-size: 1.25em;
}
