#student-summary {
	@extend %block-small;
	padding: $block-edge-padding $block-edge-padding*2 $block-edge-padding*2;
}

#student-summary {
	-webkit-hyphens: auto;
	hyphens: auto;

	@include font-feature-settings('onum');

	p {
		margin: $block-edge-padding 0;
	}

	&.cannot-graduate .graduation-message {
		color: $orange;
	}
	&.can-graduate .graduation-message {
		color: $green;
	}
}

#student-letter {
	@include avatar-letter(48px);
	float: left;
	margin-right: $block-edge-padding;

	.cannot-graduate & {
		color: $orange;
	}
	.can-graduate & {
		color: $green;
	}
}
