@import './sqrt';

// from https://gist.github.com/jlong/f06f5843104ee10006fe

// Brightness math based on:
//   http://www.nbdtech.com/Blog/archive/2008/04/27/Calculating-the-Perceived-Brightness-of-a-Color.aspx

$red-magic-number: 241;
$green-magic-number: 691;
$blue-magic-number: 68;
$brightness-divisor: $red-magic-number + $green-magic-number + $blue-magic-number;

@function brightness($color) {
	// Extract color components
	$red-component: red($color);
	$green-component: green($color);
	$blue-component: blue($color);

	// Calculate a brightness value in 3d color space between 0 and 255
	$red: ($red-component * $red-component * $red-magic-number);
	$green: ($green-component * $green-component * $green-magic-number);
	$blue: ($blue-component * $blue-component * $blue-magic-number);
	$number: sqrt(($red + $green + $blue) / $brightness-divisor);

	// Convert to percentage and return
	@return 100% * $number / 255;
}
