@import './luma';

@function contrast-ratio($color1, $color2) {
	$luma1: luma($color1) + 5;
	$luma2: luma($color2) + 5;
	$ratio: $luma1 / $luma2;
	@if $luma1 < $luma2 {
		$ratio: 1 / $ratio;
	}
	@return $ratio;
}
