@import './pow';

@function luma($color){
	// Thanks voxpelli for a very concise implementation of luminance measure in sass
	// Adapted from: https://gist.github.com/voxpelli/6304812
	$rgba: red($color), green($color), blue($color);
	$rgba2: ();
	@for $i from 1 through 3 {
		$rgb: nth($rgba, $i);
		$rgb: $rgb / 255;
		$rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));
		$rgba2: append($rgba2, $rgb);
	}
	@return (0.2126 * nth($rgba2, 1) + 0.7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3)) * 100;
}
