@import './contrast-ratio';

@function text-contrast($color, $bgcolor: $color) {
	$threshold: 4.5; // 4.5 = WCAG AA,7= WCAG AAA
	$list: 20 30 40 50 60 70 80 90 100;
	@each $percent in $list {
		$lighter: lighten($bgcolor, $percent);
		$darker: darken($bgcolor, $percent);
		$darker-ratio: contrast-ratio($color, $darker);
		$lighter-ratio: contrast-ratio($color, $lighter);
		@if($lighter-ratio > $darker-ratio){
			@if ($lighter-ratio > $threshold){
				@return $lighter;
			}
		}
		@if($darker-ratio > $lighter-ratio){
			@if ($darker-ratio > $threshold){
				@return $darker;
			}
		}
	}
	@return if(lightness($color) < 51, #FFF, #000)
}
