@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.area-of-study-group {
	@include card();
	margin-top: 1em;

	.area {
		border-top: $material-divider;
	}

	.area:last-child {
		margin-bottom: 0.15em;
	}
}

.area-type-heading {
	@include heading-neutral();

	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0.1em;
	margin-bottom: 0.15em;
	margin-left: 0.45em;
	font-feature-settings: 'smcp';

    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.add-area-of-study {
	text-decoration: underline;

	padding: 0.25em ($block-edge-padding * 1.5);
	margin-left: 0.5em;

	text-transform: lowercase;

	color: $gray-600;
	border: 0;

	&:hover {
		background-color: inherit;
	}
}
