@import '../../../base/variables';
@import '../../../mixins/link-undecorated';
@import '../../../mixins/color';
@import './variables';

:local(.courseList) {
	min-height: 30px;
	padding-bottom: 0.25em;

	a {
		@include link-undecorated;
	}

	&:focus {
		outline: 0;
	}

	:global(.list-item):last-child {
		border-bottom: 0;
	}
}


:local(.course) {
	composes: course from '../../../components/inline-course.scss';
	padding: $semester-padding;

	&:hover {
		background-color: $gray-100;
	}
}
