@import 'src/styles/variables.css';
@import 'src/styles/mixins.css';
@import './variables.css';

.course-list {
	min-height: 30px;
	padding-bottom: 0.25em;

	a {
		@apply --link-undecorated;
	}

	&:focus {
		outline: 0;
	}

	:global(.list-item):last-child {
		border-bottom: 0;
	}
}


.course-list .course {
	display: block;
	padding: var(--semester-padding);

	&:hover {
		cursor: pointer;
		background-color: var(--gray-100);
	}
}
