@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import './variables.scss';

.course-list {
	min-height: 30px;
	padding-bottom: 0.25em;

	a {
		@include link-undecorated();
	}

	&:focus {
		outline: 0;
	}

	& > .list-item:last-child {
		border-bottom: 0;
	}
}


.course-list .course {
	display: block;
	padding: $semester-padding;

	&:hover {
		cursor: pointer;
		background-color: $gray-100;
	}
}
