@import 'src/styles/variables.css';
@import 'src/styles/mixins.css';
@import './variables.css';


.semester-list {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
}
.semester {
	@apply --card;
	flex: 1 0;
	min-width: 16em;
	margin: var(--semester-spacing);
}

.semester.can-drop {
	cursor: copy;
	box-shadow: 0 0 4px var(--gray-500);
	z-index: 10;
}

.semester-remove:hover {
	color: var(--red-500);
	border-color: var(--red-500);
	background-color: var(--red-50);
}


.semester-title {
	border-bottom: var(--material-divider);

	font-size: 0.85em;

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	font-feature-settings: 'smcp';
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: var(--gray-500);

	overflow: hidden;
}

.semester-title .button {
	padding: var(--semester-padding);

	min-height: 0;
	font-size: 0.9em;

	border: 0;
	border-radius: 0;
	transition: 0.15s;

	& + .button {
		margin-left: 0.1em;
	}
}


.semester-header {
	@apply --link-undecorated;
	flex: 1;
	display: flex;
	flex-direction: column;

	padding-top: var(--semester-top-padding);
	padding-left: var(--semester-side-padding);
	padding-bottom: var(--semester-top-padding);

	h1 {
		@apply --heading-neutral;
		display: inline-block;
		color: black;
	}

	&:hover {
		text-decoration: underline;
	}
}

.semester-info {
	font-size: 0.8em;

	li {
		font-feature-settings: 'onum';
	}
	li + li::before {
		content: " – ";
		padding-left: 0.25em;
	}
}
