@import '../../../base/variables';
@import '../../../mixins/card';
@import '../../../mixins/color';
@import '../../../mixins/heading-neutral';
@import '../../../mixins/link-undecorated';
@import '../../../mixins/list-inline';
@import './variables';


:local(.semester-list) {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
}
:local(.semester) {
	@include card;
	flex: 1 0;
	min-width: 16em;
	margin: $semester-spacing;
}

:local(.canDrop) {
	cursor: copy;
	box-shadow: 0 0 4px color('gray', '500');
	z-index: 10;
}

:local(.remove):hover {
	color: color('red', '500');
	border-color: color('red', '500');
	background-color: color('red', '50');
}


:local(.title) {
	border-bottom: $material-divider;

	font-size: 0.85em;

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	font-feature-settings: 'smcp';
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: color('gray', '500');

	overflow: hidden;
}

:local(.title) :global(.button) {
	padding: $semester-padding;

	min-height: 0;
	font-size: 0.9em;

	border: 0;
	border-radius: 0;
	transition: 0.15s;

	& + :global(.button) {
		margin-left: 0.1em;
	}
}


:local(.header) {
	@include link-undecorated;
	flex: 1;
	display: flex;
	flex-direction: column;

	padding-top: $semester-top-padding;
	padding-left: $semester-side-padding;
	padding-bottom: $semester-top-padding;

	h1 {
		@include heading-neutral;
		display: inline-block;
		color: black;
	}

	&:hover {
		text-decoration: underline;
	}
}

:local(.info) {
	font-size: 0.8em;

	li {
		font-feature-settings: 'onum';
	}
	li + li::before {
		content: " – ";
		padding-left: 0.25em;
	}
}
