@import '../../../styles/variables.scss';

$semester-spacing: 4px;

$semester-top-padding: $block-edge-padding;
$semester-side-padding: calc($block-edge-padding * 1.5);

$semester-padding: $semester-top-padding $semester-side-padding;
