@import 'src/styles/variables.css';

:root {
	--semester-spacing: 4px;

	--semester-top-padding: var(--block-edge-padding);
	--semester-side-padding: calc(var(--block-edge-padding) * 1.5);

	--semester-padding: var(--semester-top-padding) var(--semester-side-padding);
}
