@import '../../../base/variables';

$semester-spacing: 4px;

$semester-top-padding: $block-edge-padding;
$semester-side-padding: $block-edge-padding * 1.5;

$semester-padding: $semester-top-padding $semester-side-padding;
