@import '../../../base/variables';
@import '../../../mixins/color';
@import '../../../mixins/heading-neutral';
@import '../../../mixins/no-select';

$year-title-size: 2em;
$year-title-width: $year-title-size * 0.75; // no, I don't know why this is 0.75.

.year {
	margin-bottom: $page-edge-padding;

	.row {
		display: flex;
		flex-flow: row wrap;
	}
}

.year-title {
	@include no-select;
	margin: 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	font-feature-settings: "tnum";

	line-height: 1em;
	font-weight: 500;
	font-size: 0.9em;
}

.year-title h1 {
	@include heading-neutral;
	white-space: nowrap;
	flex: 1;

	// 4px is the semester edge padding
	// 7.5px is the internal semester padding
	margin-left: 4px + 7.5px;
}

.year-title .button {
	transition: 0.15s;

	min-height: 0;
	padding: 0 0.5em;

	text-transform: none;
	font-feature-settings: 'smcp';
	font-weight: 400;

	color: $gray-500;

	& + .button {
		margin-left: 0.1em;
	}
}

.add-year {
	font-feature-settings: 'smcp';

	display: block;
	text-transform: none;

	text-align: left;

	font-weight: 500;
	font-size: 0.9em;

	// 4px is the semester edge padding
	// 7.5px is the internal semester padding
	margin: 0 4px $page-edge-padding;
	padding-left: 7.5px;

	&[disabled] {
		text-decoration: line-through;
	}
}

.remove-year:hover {
	color: $red-500;
	background-color: $red-50;
	border: solid 1px $red-500;
}
