@import '../base/variables';
@import '../mixins/material-shadow';

@mixin card {
	@include material-shadow;
	background-color: white;
	border-radius: $base-border-radius;
}

@mixin card-content {
	padding: 1em;
}

@mixin card-actions {
	border-top: $material-divider;
	padding: 1em;
}
