@import '../../styles/variables.scss';

.search-box {
	border: 0;

	flex: 1;
	box-sizing: inherit;

	padding: 0.75em 1em;
	padding-right: 0.5em;
	font-size: 0.9em;

	&:focus,
	&:hover {
		outline: none;
	}
	&:hover {
		background-color: var(--gray-100);
	}
	&:focus {
		background-color: var(--blue-50);
		color: var(--blue-900);
	}
}

.sidebar-heading .button {
	border: 0;
	border-radius: 0;

	color: var(--gray);
	transition: 0.15s;
}

.sidebar-heading {
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-areas:
		'title close'
		'search search';
	overflow: hidden;

	margin-bottom: 0.5em;
	flex-shrink: 0;
}

.sidebar-heading .search-box {
	grid-area: search;
}

.sidebar-heading .submit-search-query {
	grid-area: submit;

	font-size: 0.8em;
	padding: 1em 1em;
	flex: 1;

	span {
		flex: 1;
	}
}
.sidebar-heading .submit-search-query:hover,
.sidebar-heading .submit-search-query:focus {
	color: var(--green);
	background-color: var(--green-50);
}
.sidebar-heading .submit-search-query:disabled {
	color: var(--gray);
	background-color: var(--white);
}

.sidebar-heading h2 {
	grid-area: title;

	font-size: 0.8em;
	font-weight: 500;
	margin: 0;
	padding: 0.5em 0 0.3em 1em;
	text-align: left;
	text-transform: uppercase;
	flex: 1;
	cursor: default;
}

.close-sidebar {
	grid-area: close;

	font-size: 0.8em;
	padding: 0.4em 1em;
}

.search-filters {
	padding: 0.35em 0.85em;

	display: grid;
	grid-template-columns: max-content 1fr;
	grid-auto-rows: 1fr;
	grid-column-gap: 0.35em;
	grid-row-gap: 0.35em;
	align-items: center;

	margin-bottom: 0.5em;
	flex-shrink: 0;
}

.search-filters label {
	font-size: 0.9em;
	font-weight: 400;
	text-align: right;
}

.search-filters select {
	font-size: 0.9em;
	width: 100%;
}

.course-search--results_sizer {
	min-height: 200px;
	flex: 1;
}

.course-results--notice {
	flex: 1;

	text-align: center;
	color: var(--gray-500);
	font-size: 0.9em;
	padding: 1em;

	justify-content: center;
	align-items: center;
	display: flex;
}
