.list--number {}
.list--bullet {}

@mixin plain-list() {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list--plain {
	@include plain-list();
}

.list--inline {
	@include plain-list();
	display: inline-block;

	& > .list-item {
		display: inline-block;
	}
}
