@import '../../../mixins/card';
@import '../../../mixins/color';

.area {
	cursor: pointer;

	&.errored {
		background-color: color('red', '50');
		color: color('red', '900');
	}

	&:not(.errored).loading {
		opacity: 0.75;
		color: gray;
	}
}

.area .message {
	padding-left: $area-edge-padding;
	padding-right: $area-edge-padding;
	margin: 0;
	margin-bottom: $area-edge-padding;
}

.area--error {
	margin: 0;
	padding: 0 0.5em 0.5em;
}

.area--summary-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	& > .icons {
		font-size: 0.8em;
	}
}

.area--summary {
	display: flex;
	flex-flow: column nowrap;

	padding: $area-edge-padding;
}

.area--confirm-removal {
	text-align: center;

	p {
		margin: 1ex 0 1ex;
	}
	strong {
		font-weight: 500;
	}
}

.area--actually-remove-area {
	color: color('red', '500');
	&:hover, &:focus {
		background-color: transparentize(color('red', '50'), 0.2);
	}
	&:active {
		background-color: transparentize(color('red', '50'), 0.4);
	}
}

.area--summary:focus {
	outline: 1px solid color('blue');
	color: color('blue', '900');
	background-color: color('blue', '50');
}

.area--title {
	margin: 0 0 0.25em;
	font-weight: 500;

	font-size: 1em;

	a {
		color: inherit;
		text-decoration: none;
	}

	.area[open] & a {
		text-decoration: underline;
	}
}


.area--summary-row .icons {
	.button {
		min-height: 0;
		padding: 0 0.5em;
		margin-right: 0.5em;
	}

	.area--open-indicator {
		margin-right: 0.5em;
		cursor: pointer;
	}
}


.area--progress {
	width: 99%;
	height: 4px;
	margin: 0 auto;

	.area--summary:focus &,
	.area--summary:active & {
		box-shadow: 0 0 0 2px white;
	}

	&.error {
		color: color('red', '100');
	}
}
