# BEGIN GZIP
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>
# END GZIP

RewriteEngine on

RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule ^(.*)\.(js|css|json)$ $1\.$2\.gz [QSA]

RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1,E=manualgzip:1]
RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1,E=manualgzip:1]
RewriteRule \.json\.gz$ - [T=application/json,E=no-gzip:1,E=manualgzip:1]

<IfModule mod_headers.c>
	# setup this header only if rewrites above were used
	Header set Content-Encoding "gzip" env=manualgzip
</IfModule>
