@import './variables';

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-family: $sans-font-stack;
	color: $text-color;

	box-sizing: border-box;

	background: $background;
	min-height: 100vh;

	line-height: 1.4;

	font-feature-settings: 'liga', 'calt', 'kern';
	hyphens: auto;
}

body {
	margin: $page-edge-padding;
}

menu {
	padding: 0;
	margin: 0;
}

// hide the St. Olaf disclaimer
// TODO: move it somewhere else, instead of hiding it
[href="/cwis_policies/personal_disclaimer.html"] {
	display: none;
	// display: block;
	// text-align: center;
}
