@mixin fira($variant, $weight) {
    @font-face {
        font-family: 'Fira Sans';
        src: local('Fira Sans #{$variant}'),
             url('./fonts/FiraSans-#{$variant}.woff2') format('woff2'),
             url('./fonts/FiraSans-#{$variant}.woff') format('woff');
        font-weight: $weight;
        font-style: normal;
    }

    @font-face {
        font-family: 'Fira Sans';
        src: local('Fira Sans #{$variant} Italic'),
             url('./fonts/FiraSans-#{$variant}Italic.woff2') format('woff2'),
             url('./fonts/FiraSans-#{$variant}Italic.woff') format('woff');
        font-weight: $weight;
        font-style: italic;
    }
}

@include fira('UltraLight', 200);
@include fira('Light', 300);
@include fira('Regular', 400);
@include fira('Medium', 500);
@include fira('SemiBold', 600);
@include fira('Bold', 700);
