// colors
$background: #e9eaed;
$text-color: #2c281f;

// fonts
$sans-font-stack: 'Fira Sans', 'Helvetica', 'Verdana', sans-serif;
$body-font-stack: $sans-font-stack;
$heading-font-stack: $sans-font-stack;

// spacing
$page-edge-padding: 15px;
$block-edge-padding: 5px;
$area-edge-padding: 0.5em;

// z-indices
$z-sidebar: 3;
$z-floating-button: 2;

// media queries
$single-column-width: 35em;
$year-collapse-width: 47.5em;

$material-divider: 1px solid rgba(160, 160, 160, 0.2);
$base-border-radius: 3px;
$sidebar-width: 270px;


// area of study colors
$computed-success-background: hsl(153, 25%, 95%);
$computed-success-color: hsl(153, 43%, 42%);
$computed-failure-color: hsl(3, 100%, 61%);
